/**
*    Dashicons SCSS Mixin for Custom Post Type Icons in WordPress 3.8+
*
*     1. In your CPT register_post_type function, set " 'menu_icon' => '', "
*     2. This will make the class for your admin icon .menu-icon-{post_slug}
*     3. Load a compiled scss stylesheet at wp_head: 
*
*        function add_menu_icons_styles(){
*            wp_enqueue_style( 'screen', get_template_directory_uri() . '/css/dashicons.css', array(), '0.1.0', 'all' );
*        }
*        add_action( 'admin_head', 'add_menu_icons_styles' );
*
*     4. Use the mixin like so: (referring to http://melchoyce.github.io/dashicons/ for icon names)
*          
*            #adminmenu {
*                .menu-icon-event {
*                 @include dashicon('dashicons-menu');
*                }
*            }
*
*/
.menu-icon-board-member div.wp-menu-image:before {
  /* Admin Menu Icons */
  /* Both Admin Menu and Post Formats */
  /* Post Format Icons */
  /* Welcome Screen Icons */
  /* Image Editing Icons */
  /* Both Image Editing and TinyMCE */
  /* TinyMCE Icons */
  /* Post Icons */
  /* Sorting */
  /* Social Icons */
  /* Jobs Icons */
  /* Internal/Products */
  /* Taxonomies */
  /* Alerts/Notifications/Flags */
  /* Misc/CPT */
  content: "\f338"; }

.menu-icon-event div.wp-menu-image:before {
  /* Admin Menu Icons */
  /* Both Admin Menu and Post Formats */
  /* Post Format Icons */
  /* Welcome Screen Icons */
  /* Image Editing Icons */
  /* Both Image Editing and TinyMCE */
  /* TinyMCE Icons */
  /* Post Icons */
  content: "\f145";
  /* Sorting */
  /* Social Icons */
  /* Jobs Icons */
  /* Internal/Products */
  /* Taxonomies */
  /* Alerts/Notifications/Flags */
  /* Misc/CPT */ }

.menu-icon-great-effort div.wp-menu-image:before {
  /* Admin Menu Icons */
  /* Both Admin Menu and Post Formats */
  /* Post Format Icons */
  /* Welcome Screen Icons */
  /* Image Editing Icons */
  /* Both Image Editing and TinyMCE */
  /* TinyMCE Icons */
  /* Post Icons */
  /* Sorting */
  /* Social Icons */
  /* Jobs Icons */
  /* Internal/Products */
  /* Taxonomies */
  /* Alerts/Notifications/Flags */
  content: "\f459";
  /* Misc/CPT */ }

.menu-icon-job_posting div.wp-menu-image:before {
  /* Admin Menu Icons */
  /* Both Admin Menu and Post Formats */
  /* Post Format Icons */
  /* Welcome Screen Icons */
  /* Image Editing Icons */
  /* Both Image Editing and TinyMCE */
  /* TinyMCE Icons */
  /* Post Icons */
  /* Sorting */
  /* Social Icons */
  /* Jobs Icons */
  /* Internal/Products */
  content: "\f157";
  /* Taxonomies */
  /* Alerts/Notifications/Flags */
  /* Misc/CPT */ }

.menu-icon-kc-post div.wp-menu-image:before {
  /* Admin Menu Icons */
  /* Both Admin Menu and Post Formats */
  /* Post Format Icons */
  /* Welcome Screen Icons */
  content: "\f118";
  /* Image Editing Icons */
  /* Both Image Editing and TinyMCE */
  /* TinyMCE Icons */
  /* Post Icons */
  /* Sorting */
  /* Social Icons */
  /* Jobs Icons */
  /* Internal/Products */
  /* Taxonomies */
  /* Alerts/Notifications/Flags */
  /* Misc/CPT */ }
