.site-footer {
  background: $cima-dark-blue;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 65px;
}
.menu-column {
  @extend .grid-2;
  padding-left: 2em;
  .menu-head{
    @extend .weight-bold;
  }
  ul {
    list-style-type: none;
    margin: 1em 0;
  }
  li {
    margin-bottom: 0.5em;
    a {
      color: #fff;
      @extend .weight-normal;
    }
    &.icon-span {
      margin-top: 1em;
    }
  }
  @include respond-to($desktop) {
      padding-left: 0;
  }
}

.social {
  // text-align: center;
  padding-left: 2em;

  .social-header {
    @extend .weight-heavy;
    font-size: 18px;
    margin-right: 1em;
  }
  .social-links {
    list-style-type: none;
    width: 120px;
    display: inline-block;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 0.5em;
      position: relative;
      bottom: -5px;
    }
  }
  @include respond-to($tablet) {
      text-align: left;
  }
  @include respond-to($desktop) {
      padding-left: 0;
  }
   @include respond-to($large-screen) {
      text-align: right;
      
  }
}


.copyright-info {
  text-align: center;
  margin-top: 2em;
}