.site-header {
  height: 70px;
  background: #fff;
  border-bottom: 3px solid $cima-dark-gray;
  position: relative;
  a {
    color: $cima-dark-blue;
  }
}
.site-title {
  margin-left: 5px;
  padding-top: 1em;
  display: inline;
  float: left;
  a {
    display: block;
  }
  .title { @include image-replace; }
  @include respond-to($desktop) { margin: 0 10px 0 0; }
}


nav[role='navigation']{
  height: 70px;
  display: none;
  float: left;
  ul { overflow: hidden; height: 100%;}
  li {
    height: 100%;
    display: inline-block;
    float: left;
  }
  a {
    padding: 2em 1em;
    display: block;
    height: 100%;
    vertical-align: middle;
    &:hover, &.current_page_item, &.current-menu-item  {// &.current_page_parent
      background: $cima-blue;
      color: #fff;
    }
  }
  @include respond-to($desktop) {
    display: inline;
  }
}

.current_user {
  cursor: pointer;
  display: none;
  margin-top: 1.25em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;  
  position: relative;
  &:hover {
    color: $cima-blue;
  }
}
.sub-menu {
  @include module-shadow;
  display: none;
  margin: 0;
  background-color: #fff;
  // border: 1px solid $cima-dark-gray;
  position: absolute;
  width: 160px;
  &.active {
    display: block;
  }
  li.sub-menu-action {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    float: none !important;
    display: block !important;
    
    a { 
      padding: 0.75em 0.5em ;
      display: block;
      &:hover{ 
        color: #fff; 
        background: $cima-dark-blue; 
      }
    }
  }
}

.header-actions {
  display: none;
  float: right; 
  margin-right: $gutter-width;
  // ul { overflow: hidden; }
  li.action {
    display: inline-block;
    float: left;
    &:last-child { margin-left: 2em; }
  }

  .sign-in {
    margin-top: 1.25em;
    .sprite {
      margin-right: 0.25em;
    }
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    a:hover {
      color: $cima-blue;
      .person {
        background: url('../img/sprites.png') no-repeat -7px -23px;
      }
    }
  }

  .join-us {
    margin-top: 14px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 11px 2em 10px;
    @include btn($cima-pink, #fff, true);
  }

  @include respond-to($desktop) {
    display: inline;
    .join-us{
      display: none;
    }
  }
  @include respond-to($large-screen) {
    .sign-in{
      
    }
    .join-us{
      display: inline-block;
    }
  }
}


.mobile-bars {
    cursor: pointer;
    margin: 20px 10px 0 0;
    font-size: 36px;
    float: right;
    @include vendor('user-select ', none);
    @include respond-to($desktop) {
        display: none;
    }
}
.mobile-nav {
  border-bottom: 1px solid $cima-dark-gray;
  z-index: 90;
  background: #fff;
  display: none;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  ul {
    margin: 0;
    list-style-type: none;
  }
  a {
    color: $cima-dark-blue;
    display: block;
    padding: 1em;
    &:hover, &:active {
      background: $cima-blue;
    }
  }

  &.active {
    display: block;
  }
  @include respond-to($desktop) {
    display: none;
  }
}

/*
*   Mobile Navigation
*
*/ 
  .actions {
      > div {
          
          display: inline-block;
          width: 50%;
          float: left;

      }
      a {
          display: inline-block;
          width: 100%;
          text-align: center;
          font-weight: 900;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1px;
          &:hover, &:active {
            background: 0;
          }
      }
  }
  
  .actions .sign-in{ 
    border-top: 1px solid $cima-dark-gray;
    a { 
      .sprite {
        margin-right: 0.5em;
      }
      
      font-size: 16px;
      text-decoration: underline;
      color: $cima-blue; 
      &:hover, &:active {
        background: 0;
      }
    }
  }
  .actions .join-us {
    border-top: 1px solid $cima-pink;
    a {
      background: $cima-pink;
      color: #fff;
    }
     &:hover, &:active {
      background: $cima-pink;
      color: #fff;
    }
  }