#login-modal {
  background: $cima-grey;
  h1 {
    text-align: center;
  }
  #loginform{
    label {
      margin-bottom: 1em;
      display: block;
    }
    .forgot-pass {
      @extend .uline;
      color: $cima-dark-blue;
      font-weight: 300;
    }
    [type=text], [type=password]{
      display: block;
      width: 100%;
      border: 1px solid $cima-dark-gray;
      height: 60px;
      margin-bottom: 30px;
      padding-left: 2em;
      font-size: 18px;
    }
    [type=submit]{
       margin: auto;
       font-weight: 800; 
       letter-spacing: 1px;
       font-size: 18px;
       width: 130px;
       position: relative;
       left: 50%;
       margin-left:-62px;
       text-transform: uppercase;
       padding: 18px 2em 14px;
       @include btn(#fff, $cima-pink, true);
    }
   
  }
   .account-links {
      text-align: center;
    }

}

#thanks-modal{
  background: none;
  section {
    background: $cima-grey;
    width: 400px;
    height: 200px;
  }
  h1 {
    text-align: center;
  }
}

.reveal-modal-bg { 
    position: absolute; 
    height: 170%;
    width: 100%;
    background: $cima-grey;
    z-index: 100;
    display: none;
    top: 70px;
    left: 0; 
}
  
.reveal-modal {
    visibility: hidden;
    top: 100px; 
    width: 100%;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    .close-reveal-modal {
        font-size: 22px;
        line-height: .5;
        position: absolute;
        top: 8px;
        right: 11px;
        color: #aaa;
        text-shadow: 0 -1px 1px rbga(0,0,0,.6);
        font-weight: bold;
        cursor: pointer;
        &:after {
          content: '\D7 ';
          font-size: 1.25em;
        }
    } 
    @include respond-to($desktop){
      width: 520px;
      left: 50%;
      margin-left: -300px;
    }
}