.newsletter-signup {
  background: #fff;
  
  .newsletter-body {
    border-top: 2px solid $cima-dark-gray;
    border-bottom: 2px solid $cima-dark-gray;
    padding: 0 0 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    .sprite {
      position: relative; 
      bottom: -10px;
      margin-left: 10px;
    }
    @include respond-to($desktop) {
        font-size: 18px;
        font-weight: 800;
    }
  }

  .newsletter-hidden {
    display: none;
    padding: 30px 0 50px;
    .form-wrapper {
      width: 96%;
      margin: 0 auto;
    }
    label {
      margin-bottom: 1em;
      display: block;
    }
    [name=subscriber_email]{
      width: 100%;
      border: 1px solid $cima-dark-gray;
      height: 60px;
      margin-bottom: 10px;
      padding-left: 2em;
      font-size: 18px;
    }
    input[type=submit]{
      // width: 100%;
      border: 0;
      font-size: 18px;
      @extend  .weight-heavy;
      padding: 0.5em 1.5em 0.5em;
      text-transform: uppercase;
      @include btn(#fff, $cima-blue, true);
    }

    @include respond-to($desktop) {
      .form-wrapper { width: 670px;}
      input[type=text]{ 
        margin-bottom: 50px;
      }
      input[type=submit]{ 
        width: 150px; 
        left: 50%;
        position: relative;
        margin-left: -75px;
      }
    }
  }

}