.page-member-directory{
  .splash {
    text-align: center;
    background: $cima-pink;
    padding: 1em 0 1em 0;
    color: #fff;
    &.is_member_detail{
      // text-align: left !important;
      // padding: 2em 0 2em 0;
      font-size: 22px;
      font-weight: 100;
      .go-back {
        color: #fff;
        font-size: 18px;
      }
      .detail { vertical-align: middle}
      .registered {
          display: inline-block;
          margin-left: 1em;
          font-weight: 800;
          font-size: 18px;
          text-transform: uppercase;
      }
      .headshot {
        margin: auto;
        margin-bottom: 1em;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
      }
      .detail.member-social {
        margin-top: 0.5em;
        > a { display: inline-block; margin-right: 0.5em;}
      }
    }
  }

  @include respond-to($tablet) {
      .splash {
        height: 200px;
        &.is_member_detail{

          height: auto;
        }
      }
  }
  @include respond-to($desktop) {
      .splash {
        padding-top: 50px;
        &.is_member_detail{
          font-size: 30px;
          text-align: left !important;
        }
      }
  }

}

.member-directory-module{
  &.is_member_detail{
    p { 
      font-family: $brand-face;
      line-height: 1.6;
      font-weight: 100;
    }
  }
  @extend %module;
  margin-bottom: 0;
  .pagination{
    display: none;
    position: relative;
    %pager{
      position: absolute;
    }
    .prevPage{
      @extend %pager;
      @extend .sprite;
      @extend .left-arrow-pink;
      left: 0;
    }
    .nextPage{
      @extend %pager;
      @extend .sprite;
      @extend .right-arrow-pink;
      right:0;
    }
  }

  #loader { 
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
  }
  .module-header{
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
      .sprite { top: 0;} 
  }
  .member a {
    width: 100%;
    color: $cima-dark-blue;
    display: inline-block;
    padding: 0.5em 0 0.5em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid $cima-grey;
    position: relative;
    > div {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      font-weight: 300;
    }
    .headshot {
      display: none;
      $size: 40px;
      width: $size;
      height: $size;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 1em;
      img {
        width: $size;
        height: auto;
      }
    }
    .divider {
      display: none;
    }
    .name{}
    .company {
      display: none;
    }
    .membership{
      display: none;
    }
    .registered {
      display: none;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      position: absolute; 
      text-transform: uppercase;
      right:0;
      top: 30%;
    }
    
    @include respond-to($tablet) {
      .registered, .headshot {
        display: inline-block;
      }
    }
    @include respond-to($desktop) {
      .registered, .headshot, .company, .membership, .divider {
        display: inline-block;
      }
    }
    @include respond-to($large-screen) {}
  }
  .module-body{
    .wrapper {
      position: relative;
      padding: 2em;
      min-height: 200px;
    }
    #member-container{
      padding: 2em;
    }
  }
  .module-footer{
    padding-bottom: 2em;
    .wrapper > div {
      padding-top: 2em;
    }
    background: $cima-gray;
    font-weight: 800;
    text-align: left;
    p {
      margin: 1em 0;
      font-weight: 200;
      line-height: 1.6;
    }
    a {
      color: $cima-pink
    }
  }
}