form.pmpro_form label {
  float: left; 
  margin: 3px 10px 0 0; 
  width: auto; 
  font-weight: bold; 
  text-align: left;
}

.pmpro_asterisk {
  color: $cima-pink;
  text-align: left;
}

.page-membership-checkout {
  .splash{
    background: $cima-dark-blue;
    text-align: center;
    color: #fff;
    padding: 3em 0 100px 0;
  }
  .splash-text {
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
    strong {
      font-weight: 800;
      letter-spacing: 1px;
    }
  }
  .overlap{
    position: relative;
    top: -55px;
  }
  .body {
    background: $cima-gray;
    .wrapper{
    }
    h3 {
      color: $cima-pink;
      font-weight: 800;
      letter-spacing: 1px;

    }
    .expdate select {
      display: inline-block;
      margin: 0 1em 0 1em;
    }
    .main {
        @extend .overlap;
        @extend .grid-9;
        @include module-shadow;
        background: #fff;
        padding: 60px 30px 60px 30px;
        @include respond-to($tablet) {
          padding: 60px;
        }
        @include respond-to($desktop) {
          padding: 60px 100px 60px 100px;
        }
    }
    .side {
        @extend .overlap;
        @extend .grid-3;
        @include module-shadow;
        background: #fff;
        margin-top: 2em;
        @include respond-to($desktop) {
          margin-top: 0;
        }
    }
  }

  .membership-includes {
    @extend %module;
    margin-bottom: 0;
    .module-header{
        .sprite { margin-right: 3px; }
        font-weight: 600;
    }
    .module-body{
        box-shadow: inset 0 1px $cima-dark-gray;
        padding: 2em 1.5em 2em 1.5em;
        font-family: $brand-face;
        font-weight: 300;
        line-height: 2em;
    }
  }

  form {
    label, select {
      display: block;
      margin-bottom: 1em;
      clear: both;
    }
   select { float: none; }
    [type=text], [type=password], [type=email], [type=phone], textarea {
      display: block;
      width: 100%;
      border: 1px solid $cima-dark-gray;
      height: 60px;
      margin-bottom: 30px;
      padding-left: 2em;
      font-size: 18px;
    }
    textarea { height: 150px; padding: 2em; }
    .inline { display: inline-block;}
    #pmpro_submit_span{ width: 100%;}
    [name="is_cima_member"] { margin: 0 5px 0 20px;} 
    [name="newsletter"] { margin: 0 5px 0 35px;} 
    [type=submit] {
        display: inline-block;
        margin-top: 2em ;
        width: 200px;
        position: relative;
        left: 50%;
        margin-left: -150px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 18px;
        padding: 0.5em 2em 0.25em;
        @include btn(#fff, $cima-pink, true);
    }
  }

}