.faded {
  opacity: 0.25;
}

.page-about{
  .splash {
    padding: 2em 0 2em 0;
    text-align: center;
    h1 {
      color: $cima-blue;
    }
    p {
      line-height: 1.6;
      font-size: 18px;
      font-weight: 300;
    }
    .get-involved-btn {
        display: inline-block;
        margin: 2em 0 1em 0;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 18px;
        padding: 18px 2em 14px;
        @include btn($cima-pink, #fff, true);
    }
  }

  .block-wrapper {
    // min-height: 400px;
    // background: $cima-blue; 
    overflow: hidden;
  }
  .our-culture, .our-sponsors{
    p { font-weight: 300; line-height: 1.6;  font-size: 18px;}
    // height: 100%;
    width: 100%;
    display: block;
    color: #fff;
    padding: 3em 2em 2em 2em;
    float: left;
    display: inline;
    text-align: center;
    a { 
      color: #fff; 
      
      display: block;
      text-decoration: none;
    }
    @include respond-to($desktop) {
        width: 50%;
        display: inline-block;
        a { display: inline-block; border-bottom: 1px dotted #fff;}
    }
  }
  .our-culture { background: $cima-blue; }
  .our-sponsors { background: $cima-dark-blue; }
  .our-volunteers { 
    padding: 3em 2em 2em 2em;
    text-align: center;
    color: $cima-dark-blue;
    font-size: 18px;
    font-weight: 300;
    a { 
      color: $cima-dark-blue; 
      border-bottom: 1px dotted $cima-dark-blue;
    }
  }
  

  .our-board {
    margin: 0;
    @extend %module;
    .module-header {
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
    }
    .module-body {
      padding-top: 2em;
      font-size: 18px;
      font-weight: 300;
    }
    .our-board-text{
      text-align: center;
      line-height: 1.6;
      .leader { 
        width: 60%; 
        margin: 0 auto 20px;
      }
    }
    .board-members {
      margin-top: 50px;
      border-top: 2px solid $cima-dark-gray;
    }
    .module-footer {
      padding: 50px 0 50px 0;
      .link-text { border-bottom: 1px dotted $cima-dark-blue; }
      .sprite.small-pencil {
        position: relative; 
        right:10px;
        top:3px;
      }
    }
  }
    .board-member-row{
      vertical-align: top;
    }
    .board-members  {
      text-align: center;
      padding-top: 2em;
      width: auto;
    }
    .board-member {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      width: 222px;
      margin: 1em 0 2em 0;
      
    }
    .board_member-headshot{
      overflow: hidden;
      border-radius: 50%;
      width: 165px;
      height: 165px;
      margin: auto;
    }
    .board_member-name {
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 1px;
      margin-top: 1em; 
    }
    .board_member-profession{
      color: $cima-pink;
    }
    .board_member-tmpl-head {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 1px;
      margin-bottom: 1em; 
    }
    .outlet{
      -webkit-backface-visibility: hidden;
      @include vendor('transition', display 0.5s ease-out);
      display: none;
      // height: 0;
      // &.open { height: auto;}
      text-align: left;
      background: $cima-pink;
      color: #fff;
      padding: 2em 0 2em 0;
      p { 
        line-height: 1.6; 
        font-size: 14px;
        font-weight: 300;
      }
    }
    .board_member-contact{
      text-align: center;
      a {
        display: inline-block;
        margin-right: 15px;
        &:last-child{  margin-right: 0 };
      }
    }
    .active-item{
        position: relative;
        &:after {
          //  triangle should be extracted
          position: absolute;
          content:"";
          width:0;
          height:0;
          border-bottom:20px solid $cima-pink;
          border-right:20px solid transparent;
          border-left:20px solid transparent;
          margin-left: -15px;
          margin-top: 16px;
          // bottom: 0;
        }
    }


      @include respond-to($tablet) {
       
      }
      @include respond-to($desktop) {
          .board-member {
            margin-right: 50px;
            &:last-child {
              margin-right: 0; 
            }
          }
      }
    
}