.page-terms-of-service {
  .splash{
    background: $cima-dark-blue;
    text-align: center;
    color: #fff;
    padding: 3em 0 100px 0;
  }
  .splash-text {
    width: 70%;
    font-size: 16px;
    font-weight: 100;
    margin: 1.5em auto;
    strong {
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 1px;
    }
  }

  .link {
    display: inline-block;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0.5em 2em 0.25em;
    @include trans-btn(#fff, $cima-pink, true);
  }
  .body {
    background: $cima-gray;
    .wrapper{
      @include module-shadow;
      h3 {
        // font
      }
      h3 {
        font-weight: 800;
        font-size: 18px;
      }
      ul {
        margin: 1em;
        padding-left: 2em;
      }
      p, li {
        font-family: $brand-face;
        font-weight: 100;
        line-height: 1.6;
      }
      background: #fff;
       padding: 60px 30px 60px 30px;
      @include respond-to($tablet) {
        padding: 60px;
      }
      @include respond-to($desktop) {
        padding: 60px 100px 60px 100px;
      }
    }
  }
  .overlap{
    position: relative;
    top: -55px;
  }
}