.page-get-involved{
  .splash {
      padding: 4em 0 2em 0;
      text-align: center;
      h1 {
        color: $cima-blue;
      }
     .splash-copy {
        line-height: 1.6;
        font-size: 18px;
        font-weight: 300;
        width: 300px; 
        margin: 0 auto;
      }
      .event-btn {
          display: inline-block;
          margin: 2em 0 1em 0;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 1px;
          font-size: 18px;
          padding: 18px 2em 14px;
          @include btn($cima-pink, #fff, true);
      }
      @include respond-to($tablet) {
        .splash-copy {
          width: 420px;
        }
      }
      @include respond-to($desktop) {
        height: 388px;
        background: url('../img/splash-get-involved.png') top center no-repeat;
        background-size: 100%;
        .splash-copy {
          width: 960px;
        }
      }
      @include respond-to($large-screen) {
        background-size: 1440px;
      }
    }// .splash
    .great-efforts {
      margin: 0;
      overflow: hidden;
      @extend %module;
      background: $cima-grey;
      .module-header {
        background: 0;
        padding: 36px 0 36px 0;
        h1 {
          font-size: 36px;
          font-weight: 300;
        }
        .label {
          color: $cima-pink;
          font-weight: 700;
          padding-top: 2em;
        }
        .icon{
          margin-right: 50px;
          &:last-child{ margin-right:  0;}
          display: inline-block;
        }
        .icon-list {
          margin-right: 0;
        }
      }
      .module-body {
        background: 0;
        padding-bottom: 50px;
      }
      .great-effort-row {
        overflow: hidden;
      }
      .great-effort {
        @include module-shadow;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #fff;
        // float: left;
        display: inline-block;
        .thumbnail {
          height: auto;
          img {
            width: 100%;
            
          }
          overflow: hidden;
          background: $cima-dark-blue;
        }
        h3 { text-align:  center; }
        .content{
          background: $cima-dark-blue;
          padding: 20px;
          font-weight: 300;
          line-height: 1.6;
        }
      }
      .module-footer {}
      @include respond-to($desktop) {
        .great-effort{
          .thumbnail {
            img { width: 325px; }
            height: 195px;
          }
        }
      }
      @include respond-to($large-screen) {
        .great-effort{
          .thumbnail {
            img { width: 367px; }
            height: 220px;
          }
        }
      }
    }

    
}