.page-sponsor {
  .splash{
    background: $cima-dark-blue;
    text-align: center;
    color: #fff;
    padding: 3em 0 100px 0;
    a {
      color: #fff;
    }
  }
  .splash-text {
    width: 75%;
    font-size: 18px;
    margin: 0 auto;
  }

  .link {
    display: inline-block;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0.5em 2em 0.25em;
    @include trans-btn(#fff, $cima-pink, true);
  }
  .body {
    background: $cima-gray;
    .wrapper{
      @include module-shadow;
      background: #fff;
      padding: 60px 30px 60px 30px;
      @include respond-to($tablet) {
        padding: 60px;
      }
      @include respond-to($desktop) {
        padding: 60px 100px 60px 100px;
      }
    }
  }
  .overlap{
    position: relative;
    top: -55px;
  }
}