.pagination{
  margin: 0em 0 3em 0;
  vertical-align: middle;
  overflow: hidden;
  height: 42px;
  a {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $cima-dark-blue;
    width: 140px;
  }
  .sprite {
    position: relative;
    top: 10px;

  }
  .prev{
    float: left;
    .sprite {
      margin-right: 1em; 
    }
  }
  .next{
    float: right;
    .sprite {
      margin-left: 1em; 
    }
    @include respond-to($desktop) {
      margin-right: 29px;
    }
  }


}