.page-home {

  /*
  * Splash Module
  */
  .splash {
    padding: 3em 0 3em 0;
    // height: 300px;
    text-align: center;
    h1 {
      font-size: 24px;
      color: $cima-blue;
    }
    .splash-text {
      width: 300px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 1.7;
      @extend .weight-light;
    }
    .membership {
      .sign-up {
        display: inline-block;
        margin: 2em 0 1em 0;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 18px;
        padding: 18px 2em 16px;
        @include btn(#fff, $cima-pink, true);
      }
      > div {
        font-size: 14px;
        font-weight: 600;
      }
      .sign-in {
        border-bottom: 1px dotted $cima-blue;
      }
    }
    @include respond-to($tablet) {
      .splash-text {
        width: 420px;
      }
    }
    @include respond-to($desktop) {
      // height: 430px;
      h1 { font-size: 36px; }
      padding-top: 5em;
      background: url(../img/splash-home.png)  bottom center no-repeat;
      background-size: 100%;
       .splash-text {
          width: 730px;
          font-size: 18px;
          line-height: 1.7;
          font-weight: 300;
       }
    }
    @include respond-to($large-screen) {
      background-size: 1440px;
    }
  }



  /*
  *   Module Mosaic
  */
  .module-mosaic {
    background: $cima-gray;
    padding: 35px 0 40px 0;
  }



  /* 
  *   Events Module
  */
  .events {
    @extend %module;
    box-shadow: 0;
    background: $cima-pink;
    color: #fff;
    margin: 0;
    a { color: #fff;} 
    .module-header {
      text-transform: uppercase;
      font-size: 22px;
      padding-top: 30px;
      padding-bottom: 20px;
      @extend .weight-light;
      background: none;
    }
    .module-body {
      background: 0;
    }

    .event-listing {
        border-bottom: 2px solid #fff;
        padding: 1em 0 1em 0;
        margin: 0 1em 0 1em;
        
        > div {
          display: inline-block;
          vertical-align: middle;
          span { vertical-align: middle; }
        }
        .event-date {
          text-transform: uppercase;
          @extend .weight-heavy;
          letter-spacing: 1px;
          width: 15%;
        }
     
        .event-name {
          width: 80%;
          @extend .weight-light;
        }
        .event-location {
          display: none;
        }
        .event-time {
          display: none;
        }
        @include respond-to($tablet) {
            .event-date {
              width: 7%;
            }
            .event-name {
              width: 45%;
              font-size: 18px;
            }
            .sprite {
              margin-right: 0.5em;
              position: relative;
              // top: 7px;
            }
            
            .event-location, .event-time {
              display: inline-block;
              vertical-align: middle;
            }
            .event-location {
              width: 25%;
            }
            .event-time {
              width: 15%;
              font-size: 16px;
            }
        }
        @include respond-to($desktop) {
            .event-date {
              font-size: 16px;
            }
            .event-name {
              width: 60%;
              font-size: 30px;
            }

            .event-location {
              width: 20%;
              font-size: 16px;
            }
            .event-time {
              width: 10%;
              font-size: 16px;
            }
        }
         @include respond-to($large-screen) {


            .event-location {
             
              font-size: 18px;
            }
            .event-time {
              
              font-size: 18px;
            }
        }
    }


    .module-footer {
      background: none;
      padding: 2em 0 2em 0;
      a { 
        color: #fff; 
        border-bottom: 1px dotted #fff;

      }
    }
  } // Events Module


}