.page-speak {
  .splash{
    background: $cima-dark-blue;
    text-align: center;
    color: #fff;
    padding: 3em 0 100px 0;
  }
  .splash-text {
    width: 75%;
    font-size: 18px;
    margin: 20px auto 20px;
    .strong {
      font-weight: 800;
      letter-spacing: 1px;
    }
  }
  .body {
    background: $cima-gray;
    .wrapper{
      @include module-shadow;
      background: #fff;
      padding: 60px 30px 60px 30px;
      @include respond-to($tablet) {
        padding: 60px;
      }
      @include respond-to($desktop) {
        padding: 60px 100px 60px 100px;
      }
    }
  }
  .overlap{
    position: relative;
    top: -55px;
  }
}