.post-type-archive-event {
  .splash {
    text-align: center;
    // background: url(../img/event-splash.jpg) top center repeat-x;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding-top: 1em;
    .splash-text {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      padding: 10px;
    }
    .most-recent {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 1em;
    }
    .featured-event-title {
      font-size: 36px;
      margin-bottom: .5em;
    }
    .featured-event-date-location{
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 18px;
    }
    .featured-event-teaser {
      font-family: $brand-face;
      line-height: 1.6;
      letter-spacing: 1px;
      font-weight: 200;
      margin-top: 2em;
      font-weight: 300;
    }
    .details {
      display: inline-block;
      margin: 2em 0 1em 0;
      @include trans-btn(#fff, rgba($cima-blue, 1), true);
      font-size:  18px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 18px 2em 14px;
      background-color: rgba(0, 0, 0, 0.8);
      // margin: 2em 0 3em 0;
    }
  }
  @include respond-to($tablet) {
      .splash {
        min-height: 419px;
        .splash-text {

        }
      }
  }
  @include respond-to($desktop) {
      .splash {
        padding-top: 3em;
        .wrapper {
          // padding-right: 29px;
        } 
        .splash-text {
          
        }
      }
  }


  .upcoming-events{
      @extend %module;
      box-shadow: 0;
      margin-bottom: 0;
      .module-header{
          padding: 1.25em 0 1.25em;
          border-bottom: 1px solid $cima-gray;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 200;
      }
      .module-body{
          padding: 0;
          #month-select{
            width: 95%;
            margin: 0 10px 0 10px;
            text-align: center;
            @include respond-to($tablet) {
                display: none;
            }
          }
          .month-tabs{
            display: none;
            list-style-type: none;
            margin: 0 0 1em 0;
            overflow: hidden;

              .tab {
                box-shadow: inset -1px 0 lighten($cima-blue, 10%);
                display: inline;
                float: left;
                width: 8.333%;
                height: 50px;
                text-align: center;
                a { 
                  color: #fff; 
                  display: block; 
                  height: 100%;
                  padding: 1.25em 0 0.25em 0;
                  &.active {
                    color: $cima-dark-blue;
                    background: #fff;
                  }
                }
                background: $cima-blue;
                
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
              }
              @include respond-to($tablet) {
                display: block;
              }
          }
      }
      .wrapper {
        overflow: hidden; 
      }
      .event-link { 
        color: $cima-dark-blue; 
        overflow: hidden;
      }
      .event-listing {
        border-bottom: 2px solid #fff;
        padding: 1em 0 1em 0;
        margin: 0 1em 1em 1em;
        
        > div {
          display: inline-block;
          vertical-align: middle;
          span { vertical-align: middle; }
        }
        .event-date {
          text-transform: uppercase;
          @extend .weight-heavy;
          letter-spacing: 1px;
          width: 15%;
        }
     
        .event-name {
          width: 80%;
          @extend .weight-light;
        }
        .event-location {
          display: none;
        }
        .event-time {
          display: none;
        }
        @include respond-to($tablet) {
            .event-date {
              width: 7%;
            }
            .event-name {
              width: 45%;
              font-size: 18px;
            }
            .sprite {
              margin-right: 0.5em;
              position: relative;
              // top: 7px;
            }
            
            .event-location, .event-time {
              display: inline-block;
              vertical-align: middle;
            }
            .event-location {
              width: 25%;
            }
            .event-time {
              width: 15%;
            }
        }
        @include respond-to($desktop) {
            .event-date {
              font-size: 18px;
            }
            .event-name {
              width: 60%;
              font-size: 30px;
            }
            .event-location {
              width: 20%;
              font-size: 16px;
            }
            .event-time {
              width: 10%;
              font-size: 15px;
            }
        }
        @include respond-to($large-screen) {
            .event-date {
              font-size: 18px;
            }
            .event-name {
              width: 60%;
              font-size: 30px;
            }
            .event-location {
              width: 20%;
              font-size: 18px;
            }
            .event-time {
              width: 10%;
              font-size: 18px;
            }
        }
    }
  }

  .past-events{
    @extend %module;
    box-shadow: 0;
    margin-bottom: 0;
    .module-header{
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
    }
    .module-body{
      .wrapper > div { padding-top: 3em; }
      .share-your-pics {
          font-size: 18px;
          font-weight: 800;
      }
      padding-bottom: 3em;
      background: $cima-gray;
      text-align: left;
      a { color: $cima-pink; }
      text-align: center;
      @include respond-to($desktop) {
          text-align: left;
      }
    }
  }

  .get-involved{
    @extend %module;
    box-shadow: 0;
    margin-bottom: 0;
    .module-header{
    }
    .module-body{
      background: $cima-blue;
      .wrapper {

        padding-bottom: 2em ;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 1.6;
        text-align: center;
        > div {
          padding-top: 2em;
        }
        .icon{
          margin-right: 50px;
          &:last-child{ margin-right:  0;}
          display: inline-block;
        }
        .icon-list {
          margin-right: 0;
        }
        a { color: #fff;}
        @include respond-to($desktop){
          text-align: left;
        }
      }
      
    }
  }
}