.page-gallery {
  .splash {
    background: $cima-pink;
    padding: 3em;
    text-align: center;
    color: #fff;
    p {
      max-width: 800px;
      margin: auto;
      font-family: $brand-face;
      line-height: 1.6;
      font-weight: 100;
    }
  }
  .frame {
    background: url(../img/gif-load.gif) center no-repeat;
    display: inline-block; 
    width: 100%;
    height: 320px;
    overflow:hidden;
    position: relative;
    @include respond-to($tablet) {
        width: 100%;
    height: 420px;
    }
    @include respond-to($desktop) {
      width: 290px; 
      height: 290px;
    }
    a { 
      position: relative;
      background-size: contain;
      display:block; 
      height: 100%; 
      width: 100%;
    }
    .album-name {
      // display: none;
      position: absolute;
      color: $cima-pink;
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 18px;
      text-align: center;
      z-index: 900;
      width: 100%;
      padding: 1em;
      background: rgba(#fff, 0.75);
    }
  }
  .gallery-module {
    @extend %module;
    margin-bottom: 0;
    .module-header {
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
    }
    .module-body {
      padding: 2em 0 2em 0;
    }
    .module-footer{
      .wrapper > div { padding-top: 3em; }
      padding-bottom: 3em;
      background: $cima-gray;
      font-size: 18px;
      font-weight: 800;
      text-align: left;
      a { color: $cima-pink; }
      text-align: center;
      @include respond-to($desktop) {
          text-align: left;
      }
    }
  }
  #back-link {
    color: $cima-blue;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 1em 1em 1em 0;
    display: block;
  }
}
