.page-membership-levels {
    .splash {
        background: $cima-pink;
        text-align: center;
        color: #fff;
        padding: 3em 0 2em 0;
        a {
            @include btn(#fff, $cima-pink, true);
            display: inline-block;
            font-weight: 800;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 1em;
            padding: 18px 2em 14px;
            width: 260px;
            text-transform: uppercase;
            margin: 0.75em auto 1em auto;
        }
        .splash-text{
            font-size: 16px;
            margin: 20px auto 20px;
            strong{}
        }
    }
    .module-membership-levels{ 
        @extend %module;
        margin-bottom: 0;
        .module-header{
            padding: 1.25em 0 1.25em;
            border-top: 1px solid $cima-gray;
            border-bottom: 3px solid $cima-dark-gray;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 200;
        }
        .module-body {
            padding: 2em 0 2em 0;
        }
        .module-footer{
            background: $cima-gray;
            padding: 2em 0 2em 0;
        }
    }
    .season-pass-box {
        background: #fff;
        padding: 2em;
        ul {
            
            margin-left: 1em;
        }
         li { padding: 0.3em 0 0.3em 0;}
        .blue {
            color: $cima-blue;
            font-weight: 800; 
            letter-spacing: 1px;
            font-size: 18px;
        }
        .box-btn {
            @extend .btn;
            text-align: center;
            color: #fff !important;
            &:hover {
                color: $cima-pink !important;
            }
            
        }
        .center {
            text-align: center;
        }
    }
    .season-pass {
        text-align: left;
        h5 {
            font-size: 18px;
            font-weight: 800;
            letter-spacing: 1px;
            margin-bottom: 0.25em;
        }
        .description-list {
            list-style-type: none;
            margin-left: 0;
            font-family: $brand-face;
            li { padding: 0.3em 0 0.3em 0;}
        }
        .red { color: $cima-pink !important; }

    }
    table {
        width: 100%;
        margin: 1em 0 1em 0;
    }
    thead {
        font-weight: 800;
        border-bottom: 2px solid black;
        font-size: 18px;
        text-align: center;
    }

    td {
        text-align: center;
        padding: 0.5em 0 0.5em 0;
        .module-body & {
            width: 25%;
        }
        &.label{
            font-weight: 800;
            font-size: 18px;
            text-align: left;
        }
    }
    tbody tr {
        border-bottom: 2px solid black;
        vertical-align: middle;
        &.last {
            vertical-align: top;
            border: 0;
            padding: 1em 0 1em 0;
        }
    }
    .check:after {
        content: $check;
        color: $cima-green;
        font-size: 30px;
    }

    .btn{
        @include btn(#fff, $cima-pink, true);
        display: block;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 0.3em 1em 0 1em;
        width: 100px;
        margin: 0.75em auto 1em auto;
    }


    .module-support {
        @extend %module;
        margin-bottom: 0;
        .module-header {
            padding: 1.25em 0 1.25em;
            border-top: 1px solid $cima-gray;
            border-bottom: 3px solid $cima-dark-gray;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 200;
        }
        .module-body {
            h5 { 
                font-size: 18px; 
                font-weight: 800; 
                letter-spacing: 1px;
            }

            line-height: 1.6;
            padding: 3em 0 3em 0;
            font-size: 14px;
            background: $cima-blue;
            color: #fff;
            a { color: #fff !important;}
        }
    }
    
}