.page-account {
  .splash{
    background: $cima-dark-blue;
    text-align: center;
    color: #fff;
    padding: 3em 0 100px 0;
  }
  .splash-text {
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
    strong {
      font-weight: 800;
      letter-spacing: 1px;
    }
  }
  .confirmation-list{
    margin: 2em 0 4em 0;
  }
  table {
        width: 100%;
        margin: 1em 0 1em 0;
    }
    thead {
        font-weight: 800;
        border-bottom: 2px solid black;
        font-size: 18px;
        text-align: center;
    }

    td {
        text-align: center;
        padding: 0.5em 0 0.5em 0;
        .module-body & {
            width: 25%;
        }
        &.label{
            font-weight: 800;
            font-size: 18px;
            text-align: left;
        }
    }
    tbody tr {
        border-bottom: 2px solid black;
        vertical-align: middle;
        &.last {
            vertical-align: top;
            border: 0;
            padding: 1em 0 1em 0;
        }
    }
  .overlap{
    position: relative;
    top: -55px;
  }
  .prose {
      font-family:  $brand-face;
      font-weight: 100;
      width: 80%;
      margin: auto;
      line-height: 1.6;
  }
  .body {
    background: $cima-gray;
    .wrapper{
    }
    .main {

        @extend .overlap;
        @extend .grid-9;
        background: #fff;
        padding: 60px 30px 60px 30px;
        @include respond-to($tablet) {
          padding: 60px;
        }
        @include respond-to($desktop) {
          padding: 60px 100px 60px 100px;
        }
    }
    .side {
        @extend .overlap;
        @extend .grid-3;
        @include module-shadow;
        background: #fff;
        padding: 2em 1.5em 2em 1.5em;
    }
  }


}