.post-type-archive-kc-post {
  .splash {
    text-align: center;
    
    padding-top: 1em;
    padding-bottom: 2em;
    .splash-text {
      h1 {
        color: $cima-blue;
      }
      h4 {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 1px;
      }
      p {
        font-size: 18px;
        font-family: $brand-face;
        font-weight: 300;
        max-width: 800px;
        line-height: 1.6;
        margin: auto;
      }
    }
  }
  @include respond-to($tablet) {
      .splash {
        height: 410px;

      }
  }
  @include respond-to($desktop) {
      .splash {
        padding-top: 3em;
        background: url(../img/splash-kc.png) bottom center no-repeat;
        background-size: 100%;
      }
  }
  @include respond-to($large-screen) {
      .splash {
        background-size: 1440px;
      }
  }
}

.knowledge-center-list {
  background: $cima-grey;
  padding: 3em 0 2em 0;
  .kc-post {
    cursor: pointer;
    border-bottom: 2px solid $cima-dark-blue;
    margin-bottom: 1em;
    padding-bottom: 1em;
    // vertical-align: top;
    > div {
      display: inline-block;
    }
    section.content {
      padding: 1em 0 1em 0;
      display: none;
      font-weight: 100;
      font-family: $brand-face;
      line-height: 1.6;
      .inner-wrapper {
        a { 
          color: $cima-pink; 
          font-weight: 800;
        }
        @include respond-to($desktop) {
          width: 80%; 
          margin: auto
        }
      }
      .open & {
        display: block; 
        // height: 100px;
      }
    }
  }
  .kc-post-date {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    padding-right: 1em;
    text-transform: uppercase; 
  }
  .kc-post-title{
    vertical-align: top;
    font-size: 20px;
    font-weight: 100;
    width: 70%;
  }
  .kc-post-category{ 
    display: none !important;
    padding-top: 0.66em;
    vertical-align: top;
    font-size: 18px;
    color: $cima-pink;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @include respond-to($tablet) {
      .kc-post-date {

      }
      .kc-post-title{
        padding-top: 0.33em;
        font-size: 22px;
        width: 70%;
      }
      .kc-post-category{ 
        display: inline-block !important;
        text-align: right;
      }
  }
  @include respond-to($desktop) {
      .kc-post-date {

      }
      .kc-post-title{
        padding-top: 0;
        font-size: 36px;
        width: 850px;
      }
      .kc-post-category{ 

      }
  }
  @include respond-to($large-screen) {
      .kc-post-date {
        width: 70px;
      }
      .kc-post-title{
        width: 980px;
      }
      .kc-post-category{ 
        width: 120px;
      }
  }
}

.certificate-module{
  @extend %module;
  margin-bottom: 0;
  .module-header{
      padding: 1.25em 0 1.25em;
      border-bottom: 1px solid $cima-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
  }
  .module-body{
    background: $cima-blue;
    color: #fff;
    line-height: 1.6;
    font-family: $brand-face;
    font-weight: 100;
    padding-bottom: 2em;
    a {
      border-bottom: 1px dotted #fff;
      color: #fff;
    }
    .grid-6  {
      padding: 2em 0 0 0;
    }
  }
}