.page-sponsors {
  .splash{
    text-align: center;
    padding: 3em 0 100px 0;
    .splash-text {
      margin: 0 auto;
      font-size: 14px;
      line-height: 1.6;
    }
    h1 {
      color: $cima-blue;
      font-size: 24px;
    }
    h2 {
      font-size: 18px;
    }

    @include respond-to($tablet) {
      .splash-text {
        width: 420px;
      }
    }
    @include respond-to($desktop) {
        background: url(../img/splash-sponsors.png)  bottom center no-repeat;
        h1 { font-size: 36px; }
        h2 { font-size: 24px;}
        .splash-text {
          width: 730px;
          font-size: 18px;
          line-height: 1.7;
          font-weight: 300;
        }
    }
    @include respond-to($large-screen) {
      background-size: 1440px;
    }
  }

  .sponsors {
    margin: 0;
    @extend %module;
    .module-header{
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
    }
    .module-body{
      background: $cima-gray;
      padding: 3em 0 3em 0;
    }
    .sponsor-row {
      text-align: center;
      
      overflow: hidden;
      
      &:last-child {
        .sponsor-item { margin-bottom: 0; }
      }
    }
    .sponsor-item {
      margin-bottom: 2em;
      @include respond-to($desktop) {
        float: left;
        margin-right:100px;
        &:last-child { margin-right: 0 } 
      }
      
    }
    .sponsor-image {}
    .module-footer{}
  }

}