.page-job-board, .post-type-archive-job_posting{
  .splash {
    text-align: center;
    background: $cima-dark-blue;
    padding: 2em 0 2em 0;
    color: #fff;
    .search-params {
      font-size: 20px;
      font-weight: 200;
      margin: 30px auto;
    }
    [type=submit]{
       margin: auto;
       font-weight: 800; 
       letter-spacing: 1px;
       font-size: 18px;
       position: relative;
       text-transform: uppercase;
       padding: 18px 2em 14px;
       @include btn(#fff, $cima-pink, true);
    }
  }

  @include respond-to($tablet) {
      .splash {
        // height: 300px;
        .search-input {
          width: 80%;
          margin: 30px auto;
        }
      }
  }
  @include respond-to($desktop) {
      .splash {
          // padding-top: 3em;
          .search-params {}
          .search-input {
            width: 600px;
            margin-top: 30px;
          }
      }
  }

}

.search-params{
   .criteria {
      display: block;
      @include respond-to($desktop) {
        display: inline-block;
      }
    }
}

.job-listings-module {
    margin: 0;
    @extend %module;
    .module-header{
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
      .sprite { top: 0;} 
    }
    .module-body {
      padding: 30px 0 30px 0;
    }
    .loading-gif {
      background: url(../img/gif-load.gif) 0 0 no-repeat;
      margin: 0 auto;
      width: 50px;
      height: 50px;
    }
    .info {
      display: block;
      .hide { display: none; }
      @include respond-to($tablet) {
        display: inline-block;
      }
      @include respond-to($desktop) {
        .hide { display: inline-block; }
      }
    }

   



    .job-listing {
      a > div {
        display: inline-block;
        color: $cima-dark-blue;
      }
      cursor: pointer;
      padding: 15px 0 10px 0;
      border-bottom: 1px solid $cima-gray;
      position: relative;
    }
    .job-date {
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-right: 1em 
    }
    .job-title {
      font-weight: 300;
      font-size: 18px;
      vertical-align: top;
    }
    .job-new {
      position: absolute;
      right: 0;
      top: 30%;
      color: #fff;
      background: $cima-green;
      font-size: 12px;
      padding: 4px 4px 2px 4px;
      border-radius: 3px;
    }
    .module-footer{
      padding: 30px 0 30px 0;
      background: $cima-gray;
      font-weight: 800;
      text-align: left;
      p {
        margin: 1em 0;
        font-weight: 200;
        line-height: 1.6;
      }
      a {
        color: $cima-pink
      }
      .job-btn {
          margin: 20px auto;
          display: block;
          text-align: center;
          font-weight: 800; 
          letter-spacing: 1px;
          font-size: 18px;
          position: relative;
          text-transform: uppercase;
          padding: 18px 2em 14px;
          @include btn(#fff, $cima-pink, true);
      }
    }
  @include respond-to($tablet) {
      .job-date{}
      .job-title{
        
      }
  }
  @include respond-to($desktop) {
      .job-date{
        font-size: 18px;
      }
      .job-title{
          font-size: 24px;
      }
  }
}