.page-join-the-board {
  .splash{
    background: $cima-dark-blue;
    text-align: center;
    color: #fff;
    padding: 3em 0 100px 0;
  }
  .splash-text {
    width: 75%;
    font-size: 18px;
    font-weight: 100;
    margin: 20px auto 20px;
    strong {
      font-weight: 800;
      letter-spacing: 1px;
    }
  }

  .link {
    display: inline-block;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0.5em 2em 0.25em;
    @include trans-btn(#fff, $cima-pink, true);
  }
  .body {
    background: $cima-gray;
    .wrapper{
      @include module-shadow;
      background: #fff;
      padding: 60px 30px 60px 30px;
      @include respond-to($tablet) {
        padding: 60px;
      }
      @include respond-to($desktop) {
        padding: 60px 100px 60px 100px;
      }
    }
  }
  .overlap{
    position: relative;
    top: -55px;
  }
  .qualifications-module {
    @extend %module;
    margin-bottom: 0;
    .module-header {
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
    }
    .module-body {
      padding: 2em 0 2em 0;
      h3 {
        font-weight: 800;
        font-size:18px;
        letter-spacing: 1px;
      }
      li {
        line-height: 2em;
      }
    }
  }
}