.blog {
  background: $cima-gray;
  .splash {
    padding: 3em 0 3em 0;
    text-align: center;
    .wrapper {
      padding-right: 29px;
    }  
    .splash-text {
      font-size: 22px;
      font-weight: 300;
      margin: 0 auto;
    }
    .subscribe {
      display: inline-block;
      margin: 2em 0 1em 0;
      @include btn($cima-pink, $cima-gray, true);
      font-size:  18px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 0.5em 2em 0.25em;
      margin: 2em 0 3em 0;
    }
  }// splash

  .grid-row {
    @include clearfix;
  }
  
  @include respond-to($tablet) {
      .splash {
        .splash-text {
          width: 80%;
          font-size: 32px;
        }
      }
  }
  @include respond-to($desktop) {
      .splash {
        padding-top: 5em;
        .splash-text {
          
          font-size: 36px;
        }
      }
  }
}