.single-post{
  background: $cima-gray;
  .splash {
    height: 315px;
    width: 100%;
    // background: $cima-pink url('../img/post-header-placeholder.gif') top -50px center no-repeat;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  .overlap {
    position: relative;
    top: -55px;
  }
  .next{
    margin: 0;
  }
  .grid-row {
    @include clearfix;
  }
  @include respond-to($tablet) {
      .splash {
        height: 300px;
        background-position: top -60px center;
      }
  }
  @include respond-to($desktop) {
      .splash {
        height: 390px;
        background-position: top center;
      }
  }
}

.post-type-post {
  @include module-shadow;
  @extend %module;
  background: #fff;
  .module-header{
    padding: 25px 25px 16px 25px;
    text-align: left;
    h1 {
      color: $cima-blue;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 1px;
    }
    .post-meta{
      font-size: 12px;
      font-weight: 300;
      font-family: $brand-face;
      display: block;
      margin-bottom: 0.5em;
      width: 100%
    }
    .post-byline, .post-social {
      display: block;
      width: 100%;
      text-align: center;
      a { color : $cima-dark-blue; }
    }
    // .post-byline {}
    .post-social {
      vertical-align: middle;
      margin-top: 0.5em;
      a { 
        display: inline-block; 
        position: relative; 
        top: 10px;
        color: darken($cima-dark-gray, 40%);
      }

      #twitter-widget-0 {
        position: relative;
        top: 4px;
      }
      .twitter-count,
      .facebook-count { 
        display: inline-block; 
        position: relative; 
        bottom: 6px;
        background: $cima-gray;
        padding: 2px 4px 2px 4px;
        @include vendor('border-radius', 4px);
        border: 1px solid darken($cima-dark-gray, 20%);
      }
    }

    .post-author{ @extend .uline; }
  }
  .module-body{
    padding: 25px;
    font-weight: 300;
    font-family: $brand-face;
    line-height: 1.6;
    box-shadow: inset 0 1px $cima-dark-gray;
  }
  @include respond-to($desktop) {
      .module-header{
        padding: 55px 55px 36px 55px;
        h1 { font-size: 36px; }
        .post-meta{ display: inline-block; }
        .post-byline, .post-social {
          display: inline;
          width: 45%;
          text-align: left;
        }
      }
      .module-body{ padding: 36px 55px; }
      
      
  }
  @include respond-to($tablet) {
    .module-header{
      .post-byline, .post-social {
        text-align: left;
      }
    }
  }
}

.author-module {
  @extend %module;
  @include module-shadow;
  background: #fff;
  .module-header{

  }
  .module-body{
     box-shadow: inset 0 1px $cima-dark-gray, inset 0 -1px $cima-dark-gray;
    .author-pic {
      margin: 0 auto;
      padding: 20px 0 20px 0;
      width: 125px;
      height: 125px;
    }
    .author-pic-inner {
      width: 125px;
      height: 125px;
      border-radius: 63%;
      overflow: hidden;

    }
    .author-name {
      text-align: center;
      margin-top: 40px;
      font-size: 18px;
      font-weight: 800;
    }
    .author-title {
      text-align: center;
      color: $cima-pink;
    }
    .author-bio {
      padding: 20px;
      font-family: $brand-face;
      font-weight: 300;
      line-height: 1.6;
    }
  }
  .module-footer{}

}