.single-event{
  .splash {
    text-align: center;
    // background: url(../img/event-splash.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding-top: 1em;
    .splash-text {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      padding: 10px
    }
    .most-recent {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 1em;
    }
    .featured-event-title {
      font-size: 36px;
      margin-bottom: .5em;
    }
    .featured-event-date-location{
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 18px;
    }
    .featured-event-teaser {
      font-family: $brand-face;
      line-height: 1.6;
      letter-spacing: 1px;
      font-weight: 200;
      margin-top: 2em;
      font-weight: 300;
    }
    .details {
      display: inline-block;
      margin: 2em 0 1em 0;
      @include trans-btn(#fff, rgba($cima-blue, 1), true);
      font-size:  18px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 18px 2em 14px;
       background-color: rgba(0, 0, 0, 0.8); 
      // margin: 2em 0 3em 0;
    }
  }
  @include respond-to($tablet) {
      .splash {
        min-height: 419px;
        .splash-text {

        }
      }
  }
  @include respond-to($desktop) {
      .splash {
        padding-top: 3em;

      }
  }
}

.event-schedule {
  margin: 0;
  @extend %module;
  .module-header{
    padding: 1.25em 0 1.25em;
    border-top: 1px solid $cima-gray;
    border-bottom: 3px solid $cima-dark-gray;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
    .sprite { top: 0;} 
  }
  .module-body{
    padding: 2em 0 2em 0;
  }
  .schedule-item {
    border-bottom: 2px solid $cima-dark-blue;
    padding: 1em 0 1em 0;
    > div {
      display: inline-block;
      vertical-align: middle;
      span { vertical-align: middle; }
    }
    .sprite {
      margin-right: 0.5em;
      position: relative;
    }
    .item-time {
      width: 35%;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 1px;
    }
    .item-name {
      width: 45%;
      font-size: 20px;
      font-weight: 300;
    }
    .item-toggle {
      width: 5%;
    }
    .item-content {
      display: none; 
      padding: 1em 0 1em 0;
      line-height: 1.6;
    }
    @include respond-to($tablet) {
      .item-time {
        width: 15%;
      }
      .item-name {
        width: 75%;
        font-size: 30px;
      }
    }
    @include respond-to($desktop) {

    }
  }
}

.event-speakers {
  margin: 0;
  @extend %module;
  .module-header{
    padding: 1.25em 0 1.25em;
    border-top: 1px solid $cima-gray;
    border-bottom: 3px solid $cima-dark-gray;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
    .sprite { top: 0px; }
  }
  .module-body{
    .speakers {
      text-align: center;
      padding-top: 2em;
      width: auto;
    }
    .speaker {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      width: 165px;
      margin: 1em 0 2em 0;
      
    }
    .speaker-headshot{
      overflow: hidden;
      border-radius: 50%;
      width: 165px;
      height: 165px;
    }
    .speaker-name {
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 1px;
      margin-top: 1em; 
    }
    .speaker-profession{
      color: $cima-pink;
    }
    .speaker-tmpl-head {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 1px;
      margin-bottom: 1em; 
    }
    .outlet{
      display: none;
      text-align: left;
      background: $cima-pink;
      color: #fff;
      padding: 2em 0 2em 0;
      p { 
        line-height: 1.6; 
        font-weight: 300;
      }
    }
    .speaker-contact{
      text-align: center;
      a {
        display: inline-block;
        margin-right: 15px;
        &:last-child{  margin-right: 0 };
      }
    }
    .active-item{
        position: relative;
        &:after {
          position: absolute;
          content:"";
          width:0;
          height:0;
          border-bottom:20px solid $cima-pink;
          border-right:20px solid transparent;
          border-left:20px solid transparent;
          margin-left: -15px;
          margin-top: 10px;
          // bottom: 0;
        }
    }
      @include respond-to($tablet) {
       
      }
      @include respond-to($desktop) {
          .speaker {
            margin-right: 60px;
            &:last-child {
              margin-right: 0; 
            }
          }
      }
  }
}

.event-sponsors {
  margin: 0;

  @extend %module;
  .module-header{
    padding: 1.25em 0 1.25em;
    border-top: 1px solid $cima-gray;
    border-bottom: 3px solid $cima-dark-gray;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
  }
  .module-body{
    background: $cima-gray;
    padding: 3em 0 3em 0;

  }
  .sponsor-row {
    text-align: center;
    overflow: hidden;
    margin-bottom: 2em;
  }
  .sponsor-item {
    margin-right: 100px;
    display: inline-block;
    &:last-child { margin-right: 0 } 
  }
  .sponsor-type {
    font-size: 18px;
    font-weight: 800; 
    letter-spacing: 1px;
    margin: 1em 0 1em 0;
    height: 18px;
  }
  .sponsor-image {}
  .module-footer{}
}

.event-share {
  display: none;
  .fb-share-button {
    top: -2px;
  }
  .twitter-share-button {
    position: relative;
    top: 5px;
  }
}

.event-map{
  margin: 0;
  @extend %module;
  .module-header{
    padding: 1.25em 0 1.25em;
    border-top: 1px solid $cima-gray;
    border-bottom: 3px solid $cima-dark-gray;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 200;
  }
  .module-body{
    height: 400px;
  }
}

.event-tickets{
  margin: 0;
  @extend %module;
    .module-header{
    padding: 1.25em 0 1.25em;
    border-top: 1px solid $cima-gray;
    border-bottom: 3px solid $cima-dark-gray;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 200;
  }
  .module-body{
    padding: 2em 0 2em 0;
  }
  .member-msg {
    margin: 1em 0 2em 0;
    font-size: 18px;
    font-family: $brand-face;
    font-weight: 100;
    text-align: center;
  }
}