.single-job_posting{
  .splash {
    color:#fff;
    background: $cima-dark-blue;
    padding: 30px 0 30px;
    .wrapper { position: relative; }
    .job-date {
      font-weight: 800; 
      letter-spacing: 1px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      margin-right: 2em;
      padding-top: 0.25em;
    }
    .splash-text{
      font-size: 22px;
      font-weight: 200;
      display: inline-block;
      font-size: 18px;
      line-height: 1.6;
      vertical-align: top;
    }
    .job-link a{
      margin-top: 1em;
      font-size: 16px;
      display: inline-block;
      border-bottom: 1px dotted #fff; 
      color: #fff;
    }
    .job-new {
      color: #fff;
      background: $cima-green;
      font-size: 12px;
      padding: 4px 4px 2px 4px;
      border-radius: 3px;
    }
    .back-to-search{
      display: inline-block;
      vertical-align: top;
      position: absolute;
      top: 0; right: 0;
      a { color:#fff; display: inline-block; border-bottom: 1px dotted #fff; }
    }
  }
  .job-detail{
    @extend %module;
    margin: 0;
    .module-header{
      padding: 1.25em 0 1.25em;
      border-top: 1px solid $cima-gray;
      border-bottom: 3px solid $cima-dark-gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
      .sprite { top: 0;} 
    }
    .module-body {
      padding: 30px 0 30px 0;
      line-height: 1.6;
      font-family: $brand-face;
      font-weight: 100;
    }
    .module-footer{
      padding: 0;
      font-size: 23px;
      font-weight: 200;
      .share-btns{
        .sprite { margin-right: 1em;}
        padding: 30px 0 30px;
        border-top: 1px solid $cima-gray;
        border-bottom: 3px solid $cima-dark-gray;
      }
      .job-share {
        display: none;
        .fb-share-button {
          top: 0px;
        }
        .twitter-share-button {
          position: relative;
          top: 5px;
        }
      }
      .apply-btns{
        padding: 30px 0 30px 0;
        background: $cima-gray;

      }
      .apply{
        display: inline-block;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 18px;
        padding: 18px 2em 14px;
        @include btn(#fff, $cima-pink, true);
      }
      .sign-in-or-up {
        font-size: 14px;
        margin-top: 20px; 
        a {
          color: $cima-dark-blue;
          border-bottom: 1px dotted $cima-dark-blue;
        }
      }
    }
  }
}