<section class="mod_featured-job">
  <header class="module-header">
    Featured Job
  </header>
  <div class="module-body" >
    <span class="sprite star"></span>
    
    <div class="job">
        <div class="job-title">{{ modules.featured_job.job_title}}</div>
        <div class="job-desc">
          {{ modules.featured_job.description | truncate(20)  }}
        </div>
    </div>

    
  </div>
  <footer class="module-footer">
    <a href="{{ modules.featured_job.permalink }}">More Info</a>
  </footer>
</section>