<section class="mod_board-member">
  <header class="module-header">
    Board Members
  </header>
  <div class="module-body">
    <span class="sprite star"></span>
    
    <div class="bm-body">
        <div class="bm-title">Learn More About Joining Us!</div>
        <div class="bm-text">
         {{ board_members }}
        </div>
    </div>
    
  </div>
  <footer class="module-footer">
    <a href="/about#our-board">Our Team</a>
  </footer>
</section>