<section class="mod_member">
  <a href="/account/membership-levels/">
    <header class="module-header">
      <span class="sprite blue-ribbon"></span>
    </header>
    <div class="module-body">
      <h3>Become <br/>A Member!</h3>
      <p>Find Out Why You Should Join!</p>
    </div>
    <footer class="module-footer">
      <span class="sprite big-pencil"></span> <span class="uline">Sign Up!</span>
    </footer>
  </a>
</section>