<section class="mod_sponsor">
  <a href="/sponsor">
    <div class="module-header"></div>

    <div class="module-body">
      <h3>Become <br/>A Sponsor!</h3>
      <p>Find Out How You Can Be A Sponsor!</p>
    </div>

    <div class="module-footer"></div>
  </a>
</section>