<section class="mod_get-involved" >
  <header class="module-header">
    <span class="sprite starburst"></span>Get Involved
  </header>
  <div class="module-body">
    <ul class="icon-list">
      <li class="icon">
        <a href="/account/membership-levels/">
          <div class="sprite quill"></div>
          <div class="label"> Join&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </a>
      </li>
      <li class="icon">
        <a href="/sponsor">
          <div class="sprite smiley-face"></div>
          <div class="label"> Sponsor </div>
        </a>
      </li>
      <li class="icon">
        <a href="/speak">
          <div class="sprite speech-balloon"></div>
          <div class="label"> Speak </div>
        </a>
      </li>
      <li class="icon">
        <a href="/volunteer">
          <div class="sprite heart"></div>
          <div class="label"> Volunteer </div>
        </a>
      </li>
    </ul>
    {# <div class="copy">is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor galleore ld. Ipsum has been the dummy textie moes.</div> #}
    <div class="copy">{{ get_involved }}</div>
  </div>
  <footer class="module-footer">
    <a href="/get-involved">Learn More</a>
  </footer>
</section>