<section class="mod_recent-jobs">
  <header class="module-header">
    <span class="sprite pin"></span>Recent Job Posts
  </header>
  <div class="module-body">
    
  {% for job in modules.recent_jobs %}
  <a href="{{ job.permalink }}">
      <div class="job">
        <div class="job--posting-date">
          {{ job.post_date | date('M') }}<br/>
          {{ job.post_date | date('d')  }}
        </div>
        <div class="job--title-location">
          {{ job.job_title }} - {{ job.city }},&nbsp;{{ job.state }}
        </div>
        <div class="job--arrow">
          <span class="sprite right-arrow-white"></span>
        </div>
      </div>
    </a>
  {% endfor %}

  </div>
  <footer class="module-footer">
    <a href="/jobs">All Jobs</a>
  </footer>
</section>