
<section class="mod_upcoming-event">

  {% if modules.featured_event %}
  <header class="module-header">
    <span class="sprite calender"></span>
    <span class="event-date">{{ modules.featured_event.start_date | date('M d') }}  &bull;  {{ modules.featured_event.start_date |  date('g:i A') }}</span>
  </header>
  <div class="module-body" >
   
    <div class="event">
        <div class="event-thumb">
        
        {% if modules.featured_event.thumbnail %}
          <a href="{{ modules.featured_event.permalink }}">
              <img src="{{ modules.featured_event.thumbnail }}" />
          </a>
        {% endif %}

        </div>
        <div class="event-copy">
            <h3>
              <a href="{{ modules.featured_event.permalink }}">
                {{ modules.featured_event.title }}
              </a>
            </h3>

            <div class="event-desc">
               {{ modules.featured_event.content }}
            </div>
        </div>

    </div>


  </div>
  <footer class="module-footer">
    <a href="{{ modules.featured_event.permalink }}">Register</a>
  </footer>

  {% else %}

  {# Shown in the event of there being no future scheduled events #}


  <header class="module-header">
    <span class="sprite calender"></span>
    <span class="event-date">Upcoming Events</span>
  </header>
  <div class="module-body" >
   
    <div class="event">
        <div class="event-thumb">
        
        {# {% if modules.featured_event.thumbnail %}
          <a href="{{ modules.featured_event.permalink }}">
              <img src="{{ modules.featured_event.thumbnail }}" />
          </a>
        {% endif %} #}

        </div>
        <div class="event-copy">
            <h3>
              Sorry, no upcoming events are <br/>
              scheduled at this time.
              {# <a href="{{ modules.featured_event.permalink }}">
                {{ modules.featured_event.title }}
              </a> #}
            </h3>

            <div class="event-desc">
               {# {{ modules.featured_event.content }} #}
            </div>
        </div>

    </div>


  </div>
  <footer class="module-footer">
    {# <a href="{{ modules.featured_event.permalink }}">Register</a> #}
  </footer>
  {% endif %}
</section>