<section class="mod_recent-blog">

  <header class="module-header">
    <h3 class="post-title"><a href="{{ modules.featured_post.permalink }}">{{ modules.featured_post.title }}</a></h3>
    <div class="post-meta">Posted by <span class="post-author"><a href="/member-directory/?member={{ modules.featured_post.author.ID }}">{{ modules.featured_post.author.name }}</a></span> on <span class="post-published">{{ modules.featured_post.display_date }}</span></div>
  </header>

  <div class="module-body" >

    <div class="post-thumb">
      {%if modules.featured_post.thumbnail %}
        <img src="{{ modules.featured_post.thumbnail.src }}">
      {% else %}
        <img src="{{asset_path}}/img/post-placeholder.jpg">
      {% endif %}
    </div>

    <div class="post-excerpt">

     {{ modules.featured_post.content | excerpt(50) }}
    </div>
  
  </div>
  <footer class="module-footer">
    <a href="{{ modules.featured_post.permalink }}">Read More</a>
  </footer>
</section>