<section class="mod_member-directory">

  <div class="module-body">
    <a href="/member-directory">
      <div class="sprite directory"></div>
      <div class="md-copy">
        Check Out Our Member
        Directory To See Who
        Else Has Joined!
      </div>
    </a>
  </div>

</section>