@mixin cima-form {
    
    label {
      display: block;
      margin-bottom: 1em;
    }

    [type=text], [type=email], [type=phone], textarea, select {
      display: block;
      width: 100%;
      border: 1px solid $cima-dark-gray;
      height: 60px;
      margin-bottom: 30px;
      padding-left: 2em;
      font-size: 18px;
      outline: 0;
    }

    textarea { height: 150px; padding: 2em; outline: 0;}

    .inline { display: inline-block;}

    [name="is_cima_member"] { margin: 0 5px 0 20px;} 

    [name="newsletter"] { margin: 0 5px 0 35px;} 

    [type=submit] {
        display: inline-block;
        margin-top: 2em ;
        // width: 150px;
        position: relative;
        left: 50%;
        margin-left: -75px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 18px;
        padding: 0.5em 2em 0.25em;
        @include btn(#fff, $cima-pink, true);
    }

    // .parsley-error {
    //     border: 10px solid $cima-pink !important;
    //     margin-bottom: 0 !important;
    // }
    // .parsley-error-list {
    //     li { 
    //         background: $cima-pink !important;
    //         padding: 0.75em;
    //     }
    //     margin-bottom: 30px !important;  
    //     list-style-type: none;
    //     color: #fff;
    //     margin-left: 0;
    // }
  
}

#verify-submit {
  margin: 0 ;
  left: 0;
}

#unverified_student_form, #unverified_agency_form {
  padding: 2em 0 2em 0;
  p {
    font-family: $brand-face;
    line-height: 1.6;
    font-weight: 100;
  }
  a { font-weight: 600; font-family: $base-face; }
}

.parsley-error {
    border: 10px solid $cima-pink !important;
    margin-bottom: 0 !important;
}
.parsley-error-list {
    li { 
        background: $cima-pink !important;
        padding: 0.75em;
    }
    margin-bottom: 30px !important;  
    list-style-type: none;
    color: #fff;
    margin-left: 0;
}

.cima-form {
    @include cima-form;
}


// CF7 specific styling

.wpcf7-form.invalid { // within an invalid form...
    .wpcf7-form-control-wrap > .wpcf7-not-valid {
        border: 10px solid $cima-pink;
    }
    .wpcf7-not-valid + span.wpcf7-not-valid-tip {
        position: relative;
        bottom: 30px;
        color: #fff;
        padding: 0.75em;
        background: $cima-pink;
    }
}

div.wpcf7-validation-errors { border: 0; } // remove yellow outline, gross.
.wpcf7-response-output.wpcf7-validation-errors {
    color: #fff;
    padding: 0.75em;
    background: $cima-pink;
}