/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 * @usage:
   <div class=media>
       <span class=media-img><img src=http://placekitten.com/200/300 alt="" ></span>
       <p class=media-body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 
 */


%media {
  @include clearfix;
  display: block;
  
  :first-child {
    float: left;
    // margin-right: $base-spacing-unit;

    &.right { float: right; }
  }
  :last-child {
    overflow: hidden;
  }

}