%module {
  margin-bottom: 29px;
  .module-header {  
    text-align: center;
    padding: 0.75em 0 0.75em 0;
    background: #fff;
    letter-spacing: 0.0625em;
    vertical-align: middle;
    .sprite {
      margin-right: 1em;
      position: relative;
      top: 2px;
    }
  }
  .module-body {
    background: #fff;
  }
  .module-footer {
    text-align: center;
    padding: 0.75em 0 0.75em 0;
    background: #fff;
    a {
      color: $cima-dark-blue;
    }
  }
}


// ie: @include module-shadow;
@mixin module-shadow {
  @include vendor('box-shadow', 
    1px 1px 0 1px rgba(black, 0.02) , 
    2px 2px 0 1px rgba(black, 0.02) 
  );
  // @include vendor('box-shadow', 2px 2px 0 2px rgba($cima-pink, 1));
}

