.sprite {
  display: inline-block;
   &.link {
    background: url('../img/sprites.png') no-repeat no-repeat -117px -45px;
    width: 13px;
    height: 13px;
  }
  &.share-album {
    background: url('../img/sprites.png')  no-repeat -158px -351px;
    width: 115px;
    height: 46px;
  }
  &.target {
    background: url('../img/sprites.png') no-repeat  -248px -26px;
    width: 55px;
    height: 54px;
  }
  &.speech-bubble {
    background: url('../img/sprites.png') no-repeat -75px -45px;
    width: 14px;
    height: 12px;
  }
  &.file-box {
    background: url('../img/sprites.png') no-repeat -75px -64px;
    width: 15px;
    height: 13px;
  }
  &.list-items {
    background: url('../img/sprites.png') no-repeat  -96px -45px;
    width: 14px;
    height: 11px;
  }
  &.person {
    background: url('../img/sprites.png') no-repeat -7px -8px;
    width: 11px;
    height: 12px;
  }
  &.person-blue {
    background: url('../img/sprites.png') no-repeat -7px -23px;
    width: 11px;
    height: 12px;
  }
  &.blue-ribbon {
    background: url('../img/sprites.png') no-repeat -75px -7px;
    width: 13px;
    height: 16px;
  }
  &.ribbon {
    background: url('../img/sprites.png') no-repeat -97px -64px;
    width: 13px;
    height: 16px;
  }
  &.starburst {
    background: url('../img/sprites.png') no-repeat -22px -8px;
    width: 12px;
    height: 12px;
  }
  &.star {
    background: url('../img/sprites.png') no-repeat -38px -7px;
    width: 13px;
    height: 13px;
  }
  &.small-sharrow {
    background: url('../img/sprites.png') no-repeat  -56px -7px;
    width: 14px;
    height: 13px;
  }
  &.calender {
    background: url('../img/sprites.png') no-repeat -239px -11px;
    width: 13px;
    height: 14px;
  }
  &.pin {
    background: url('../img/sprites.png') no-repeat -23px -26px;
    width: 9px;
    height: 13px;
  }
  &.small-picture {
    background: url('../img/sprites.png') no-repeat -37px -26px;
    width: 15px;
    height: 12px;
  }
  &.green-check{
    background: url('../img/sprites.png') no-repeat -56px -39px;
    width: 12px;
    height: 10px;
  }
  &.pink-check{
    background: url('../img/sprites.png') no-repeat -57px -27px;
    width: 12px;
    height: 10px;
  }
  &.circle-check{
    background: url('../img/sprites.png') no-repeat -76px -28px;
    width: 12px;
    height: 12px;
  }
  &.facebook {
    background: url('../img/sprites.png') no-repeat -97px -11px;
    width: 10px;
    height: 21px;
  }
  &.big-facebook {
    background: url('../img/sprites.png') no-repeat -192px -95px;
    width: 27px;
    height: 52px;
  }
  &.linkedin {
    background: url('../img/sprites.png') no-repeat  -119px -8px;
    width: 27px;
    height: 26px;
  }
  &.twitter {
    background: url('../img/sprites.png') no-repeat -153px -11px;
    width: 25px;
    height: 20px;
  }
  &.pink-sharrow {
    background: url('../img/sprites.png') no-repeat -184px -9px;
    width: 25px;
    height: 23px;
  }
  &.flag {
    background: url('../img/sprites.png') no-repeat -215px -10px;
    width: 20px;
    height: 17px;
  }
  &.logo {
   background: url('../img/sprites.png') no-repeat -150px -46px;
    width: 84px;
    height: 37px;
  }
  &.map-marker-blue {
    background: url('../img/sprites.png') no-repeat -12px -50px;
    width: 22px;
    height: 32px;
  }
  &.map-marker {
    background: url('../img/sprites.png') no-repeat -12px -90px;
    width: 22px;
    height: 32px;
  }
  &.clock-blue {
    background: url('../img/sprites.png') no-repeat -38px -51px;
    width: 29px;
    height: 29px;
  }
  &.clock {
    background: url('../img/sprites.png') no-repeat -38px -91px;
    width: 29px;
    height: 29px;
  }
  &.envelope {
    background: url('../img/sprites.png') no-repeat -75px -95px;
    width: 34px;
    height: 22px;
  }
  &.big-pencil {
    background: url('../img/sprites.png') no-repeat -10px -132px;
    width: 57px;
    height: 19px;
  }
  &.small-pencil {
    background: url('../img/sprites.png') no-repeat -73px -132px;
    width: 49px;
    height: 16px;
  }
  &.quill {
    background: url('../img/sprites.png') no-repeat -132px -90px;
    width: 55px;
    height: 58px;
  }
  &.white-quill {
    background: url('../img/sprites.png') no-repeat -232px -91px;
    width: 55px;
    height: 58px;
  }
  &.directory {
    background: url('../img/sprites.png') no-repeat -10px -159px;
    width: 56px;
    height: 63px;
  }
  &.big-picture {
    background: url('../img/sprites.png') no-repeat -8px -228px;
    width: 58px;
    height: 58px;
  }
  &.pictures {
    background: url('../img/sprites.png') no-repeat -75px -159px;
    width: 78px;
    height: 78px;
  }
  &.smiley-face {
    background: url('../img/sprites.png') no-repeat -75px -245px;
    width: 48px;
    height: 48px;
  }
  &.down-book {
    background: url('../img/sprites.png') no-repeat -130px -245px;
    width: 45px;
    height: 49px;
  }
  &.speech-balloon {
    background: url('../img/sprites.png') no-repeat -184px -249px;
    width: 60px;
    height: 52px;
  }
  &.heart {
    background: url('../img/sprites.png') no-repeat -252px -250px;
    width: 48px;
    height: 43px;
  }
  &.stamp {
    background: url('../img/sprites.png') no-repeat -166px -156px;
    width: 86px;
    height: 84px;
  }
  &.thank-you {
    background: url('../img/sprites.png') no-repeat -151px -311px;
    width: 132px;
    height: 30px;
  }

  // blue arrows
  &.down-arrow-blue {
    background: url('../img/sprites.png') no-repeat -7px -311px;
    width: 33px;
    height: 33px;
  }
  &.left-arrow-blue {
   background: url('../img/sprites.png') no-repeat -75px -310px;
    width: 33px;
    height: 33px;
  }
  &.up-arrow-blue {
     background: url('../img/sprites.png') no-repeat -41px -311px;
    width: 33px;
    height: 33px;
  }
  &.right-arrow-blue{
    background: url('../img/sprites.png') no-repeat -110px -311px;
    width: 33px;
    height: 33px;
  }
  // Pink
  &.down-arrow-pink {
    background: url('../img/sprites.png') no-repeat -7px -349px;
    width: 33px;
    height: 33px;
  }
  &.left-arrow-pink {
   background: url('../img/sprites.png') no-repeat -74px -349px;
    width: 33px;
    height: 33px;
  }
  &.up-arrow-pink {
     background: url('../img/sprites.png') no-repeat -41px -349px;
    width: 33px;
    height: 33px;
  }
  &.right-arrow-pink{
    background: url('../img/sprites.png') no-repeat -110px -349px;
    width: 33px;
    height: 33px;
  }
  // White
  &.down-arrow-white {
    background: url('../img/sprites.png') no-repeat -7px -385px;
    width: 33px;
    height: 33px;
  }
  &.left-arrow-white {
   background: url('../img/sprites.png') no-repeat -75px -384px;
    width: 33px;
    height: 33px;
  }
  &.up-arrow-white {
     background: url('../img/sprites.png') no-repeat -41px -385px;
    width: 33px;
    height: 33px;
  }
  &.right-arrow-white{
    background: url('../img/sprites.png') no-repeat -110px -385px;
    width: 33px;
    height: 33px;
  }


}