<div class="pagination">
    <div class="wrapper">
        {% if pagination.prev %}
          <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">
            <span class="sprite left-arrow-pink"></span>
            Prev
          </a>
        {% endif %}
   
        {% if pagination.next %}
          <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">
            Next
            <span class="sprite right-arrow-pink"></span>
          </a>
        {% endif %}
    </div>
</div>