<section class="blog-post">

  <header class="module-header">
    <h3 class="post-title"><a href="{{ post.permalink }}">{{ post.title | excerpt(8) }}</a></h3>
    <div class="post-meta">Posted by <span class="post-author"><a href="/member-directory/?member={{ post.author.ID }}">{{ post.author.name }}</a></span> on <span class="post-published">{{ post.display_date }}</span></div>
  </header>

  <div class="module-body" >
  
    <div class="post-thumb">

      {%if post.thumbnail %}
        <img src="{{ post.thumbnail | resize(270, 235) }}">
      {% else %}
        <img src="{{ asset_path }}/img/post-placeholder.jpg">
      {% endif %}

    </div>

    <div class="post-excerpt">
  
      {% if post.get_field('post_excerpt') %}
          {{ post.get_field('post_excerpt') | excerpt(50) }}
      {% else %}
          {{ post.content | excerpt(50) }}
      {% endif %}
    </div>
  
  </div>
  <footer class="module-footer">
    <a href="{{ post.permalink }}">Read More</a>
  </footer>
</section>