{% extends "base.twig" %}

{% block content %}
<div class="splash">
  <div class="wrapper">
        <div class="splash-text">
          The CIMA blog is an outlet for industry thought leaders of every kind.
           Follow the blog for updates on the latest CIMA news, as well as other
           happenings around the industry. 
        </div>
      {#   <div>
          <a href="#" class="subscribe">Subscribe</a>
        </div>  #}
  </div>

</div>

<div class="posts">
  <div class="wrapper">
    <div class="grid-row">
      {% for post in posts %}

        <div class="grid-3 {% if loop.index is divisibleby(4) %} last {% endif %}">
           {% include '_post.twig' %}
        </div>
          
        {% if loop.index is divisibleby(4) %} 
               </div>{# end of grid-row #}
              <div class="grid-row">
        {% endif %}

      {% endfor %}
    </div>{# end of grid-row #}
  </div>
</div>

{% include '_pagination.twig' %}




{% endblock %}


