<div id="login-modal" class="reveal-modal">
  <a class="close-reveal-modal"></a>
  <section> 
    <div id="login">
        <h1>Sign In</h1>

        <form name="loginform" id="loginform" action="/wp-login.php" method="post">
            <div class="input-wrap">
                <label for='log'>Username</label> 
                <input type="text" name="log" id="log" value="" size="20" tabindex="1" required/>
            </div>
            <div class="input-wrap">
                <label for='pwd'>Password &nbsp;&nbsp;<a href="/wp-login.php?action=lostpassword" class="forgot-pass" title="Password Lost and Found">Forgot?</a></label>
                <input type="password" name="pwd" id="pwd" value="" size="20" tabindex="2" required/>
            </div>

            <p class="submit">
                <input type="submit" name="submit" id="submit" value="Login" tabindex="3" />
                <input type="hidden" name="redirect_to" value="" />
            </p>
        </form>
        <div class="account-links">
            Not A Member? <a href="/account/membership-levels/" class="forgot-pass" title="Sign Up For An Account">Sign Up</a> Now!
        </div>
        </div>
  </section>
  
</div>


<div id="thanks-modal" class="reveal-modal">
  <a class="close-reveal-modal"></a>
  <section> 
    <h1>Thanks</h1>
  </section>
</div>


  <section class="newsletter-signup">

      <div class="newsletter-body">
        <span class="mobile-hide">Stay Updated!</span> Sign Up For Our Newsletter <span class="sprite down-arrow-blue rotate1"></span>
      </div>
      <div class="newsletter-hidden">{{footer.newsletter_signup}}</div>

   
  </section>
  <footer role="contentinfo" id="footer" class="site-footer">

    <div class="wrapper">
    
        <div class="grid-6">
            <div class="menu-column">
              <div class="menu-head">About CIMA</div>
              <ul>
                {% for item in footer.menu.col_1.get_items %}
                  <li class="nav-main-item"><a class="nav-main-link {% for class in item.classes %}{{ class }} {% endfor %}" href="{{item.get_path}}">{{item.title}}</a>
                {% endfor %}
              </ul>
            </div>
            <div class="menu-column">
              <div class="menu-head">Get Involved</div>
              <ul>
                {% for item in footer.menu.col_2.get_items %}
                  <li class="nav-main-item"><a class="nav-main-link {% for class in item.classes %}{{ class }} {% endfor %}" href="{{item.get_path}}">{{item.title}}</a>
                {% endfor %}
              </ul>
            </div>
            <div class="menu-column">
              <div class="menu-head">Contact Us</div>
              <ul>
                {% for item in footer.menu.col_3.get_items %}
                  <li class="nav-main-item"><a class="nav-main-link {% for class in item.classes %}{{ class }} {% endfor %}" href="{{item.get_path}}">{{item.title}}</a>
                {% endfor %}
                <li class="icon-span"><a href="mailto:info@chicagoima.org" title="Email Us!"><span class="sprite envelope"></span></a></li>
              </ul>
            </div>
        </div>
        
        <div class="grid-6"> 
           {# <div class="grid-3">&nbsp;</div> #}
           <div class="social">
            <span class="social-header">Connect With Us</span>
            <ul class="social-links">
              <li><a href="https://twitter.com/chicagoima" target="_blank"><span class="sprite twitter"></span></a></li>
              <li><a href="https://www.facebook.com/ChicagoIMA" target="_blank"><span class="sprite facebook"></span></a></li>
              <li><a href="http://www.linkedin.com/groups?gid=53038" target="_blank"><span class="sprite linkedin"></span></a></li>
            </ul>
          </div>
        </div>

        <div class="grid-12 copyright-info">&copy;{{footer.copyright_range}} CIMA</div>
    </div>
  </footer>

{{ wp_footer }}
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try{
  var pageTracker = _gat._getTracker("UA-4394723-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>