<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7""><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6 ie-lt-7 ie-lt-8 ie-lt-9" {{ language_attributes }}><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7 ie-lt-8 ie-lt-9" {{ language_attributes }}><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8 ie-lt-9" {{ language_attributes }}><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" {{ language_attributes }}>
<!--<![endif]-->

<head>
  <meta charset="{{ bloginfo('charset') }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="{{ bloginfo('name') }}{{ header.page_title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="{{ bloginfo('url')  }}/{{post.slug}}" />
  <meta property="og:description" content="" />
  <title>
    
      {{ bloginfo('name') }}
      {{ header.page_title }}
      

  </title>
  
  {{ wp_head }}

  {# Twitter Tweet Button script #}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
  {# Polyfill for media queries in IE8 #}
  <!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
    <script src="{{ asset_path }}/js/lib/respond.js"></script>
  <!--<![endif]-->
  <link rel="shortcut icon" href="{{ asset_path }}/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ asset_path }}/img/favicon.ico" type="image/x-icon">
</head>
<body class="{{ body_class }}">
  
  {# Facebook JS SDK #}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1424934687736476";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<header id="header" class="site-header" >
  <div class="wrapper">
    
    <div class="site-title">
      <a href="/" title="Chicago Interactive Marketing Association - Home"><span class="sprite logo"></span></a>
    </div>
    
    <div class="mobile-bars sprite down-arrow-pink rotate1"></div>

      <nav role="navigation">
        <ul>
          {% for item in header.menu.get_items %}
            <li class="nav-main-item"><a class="nav-main-link {% for class in item.classes %}{{ class }} {% endfor %}" href="{{item.get_path}}">{{item.title}}</a>
              {% if item.get_children %}
                <ul class="nav-drop">
                  {% for child in item.get_children %}
                      <li class="nav-drop-item {% for class in child.classes %}{{ class }}&nbsp;{% endfor %}"><a href="{{child.get_path}}">{{child.title}}</a></li>
                  {% endfor %}
                  </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      <nav class="header-actions">
        <ul>
          {% if current_user and current_user.ID %}

            <li class="current_user action" style="vertical-align: middle;">

              Welcome, {{ current_user.first_name }}
              <ul class="sub-menu">
                <li class="sub-menu-action"><a href="/account/">Account Info</a></li>
                <li class="sub-menu-action"><a href="{{ profile_url }}">Edit Profile</a></li>
                <li class="sub-menu-action"><a href="{{ job_postings_url }}">Job Postings</a></li>
                <li class="sub-menu-action"><a href="{{ logout_url }}">Sign Out</a></li>
              </ul>

            </li>

         {#    <li class="join-us action">
              <a href="{{ logout_url }}">Sign Out</a>
            </li>
 #}
          {% else %}

            <li class="sign-in action">
              <a href="#" data-reveal-id="login-modal" data-animation="fade">
                <span class="sprite person"></span> 
                Sign In
              </a>
            </li><!-- ./sign-in -->

            <li class="join-us action">
              <a href="/account/membership-levels/">
                Join Us!
              </a>
            </li><!-- ./join-us -->

          {% endif %}

        
        </ul>
      </nav>
  
      
   
      <nav  class="mobile-nav">
        <ul>
          {% for item in header.menu.get_items %}
            <li class="nav-main-item">
              <a class="nav-main-link {% for class in item.classes %}{{ class }} {% endfor %}" href="{{item.get_path}}">{{item.title}}</a>
            </li>
          {% endfor %}
        </ul>
        {% if current_user and current_user.ID %}
          <div class="actions">
           <div class="sign-in">
              <a href="{{ profile_url }}">Edit Profile</a>
            </div>
            <div class="join-us">
              <a href="{{ logout_url }}">Sign Out</a>
            </div>
          </div>
        {% else %}
             <div class='actions'>
                <div class="sign-in">
                    <a href="#" data-reveal-id="login-modal" data-animation="fade">
                      <span class="sprite person-blue"></span>Sign In
                    </a>
                </div><!-- ./sign-in -->
                <div class="join-us">
                    <a href="/account/membership-levels/">Join Us</a>
                </div><!-- ./sign-in -->
            </div>
        {% endif %}
         
           
      </nav>
    

  </div><!-- ./wrapper -->
</header>

