{% extends "base.twig" %}

{% block content %}

{#{% if featured_event.thumbnail %}
  {% set splash_image = featured_event.thumbnail %}
{% else %}
   {% set splash_image = asset_path ~ '/img/event-splash.jpg' %}
{% endif %}#}
{% if featured_event %}

  {% set option_splash_image = featured_event.get_field('banner_image_option') %}
{% endif %}

{% if option_splash_image == 'use_featured_image' %}

      {% set splash_image = event.thumbnail %}

{% elseif option_splash_image == 'use_uploaded_image' and featured_event.get_field('banner_image') %}
    
    {% set splash_image = featured_event.get_field('banner_image') %} 

{% elseif option_splash_image == 'use_default_image' %}

   {% set splash_image = asset_path ~ '/img/event-splash.jpg' %}

{% else %}

  {% set splash_image = asset_path ~ '/img/event-splash.jpg' %}

{% endif %}
 
<div class="splash" style="background-image: url({{ splash_image }});">
  <div class="wrapper">
      {% if featured_event %}
        <div class="splash-text">
            <div class="most-recent">Upcoming Event</div>
            <div class="featured-event-title">{{ featured_event.title }}</div>
            <div class="featured-event-date-location">{{ featured_event.start_date | date('l, F jS g:i A') }} @ {{featured_event.venue}}</div>
            <div class="featured-event-teaser">{{ featured_event.content }}</div>
        </div>{# splash-text #}

        <div><a href="{{ featured_event.permalink }}" class="details">See Details</a></div> 
      {% else %}
      {#  Shown in the event of no upcoming events #}
      <div class="splash-text">
            <div class="most-recent">Upcoming Event</div>
            <div class="featured-event-title">Sorry, no upcoming events are scheduled at this time.</div>
            <div class="featured-event-teaser">Please check back soon for information about our next event!</div>
        </div>{# splash-text #}

      {% endif %}
  </div>{# wrapper #}
</div>{# splash #}

<div class="upcoming-events">
  <div class="module-header">
    <span class="sprite calender"></span>Upcoming
  </div>
  <div class="module-body">

      <ul class="month-tabs">
        {% for month, proper_name in months %}
          <li class="tab">
            <a href="?event_month={{month}}" class="{% if query_date == month %}active{% endif %}">{{month}}</a>
          </li>
        {% endfor %}
      </ul>

      {# Select menu for mobile month selection #}
      <div class="month-select">

        <select id="month-select">
        {% for month, proper_name in months %}
            <option value="{{month}}" {% if query_date == month or current_month == month %}selected{% endif %}>{{proper_name}}</option>
        {% endfor %}
        </select>{# #month-select #}
        
        <script>
          (function($){

            // Change location when a different month is picked
            $(function(){
                var $month_select = $('#month-select'),
                    current_url = window.location.href,
                    url = current_url.split('?')[0];

                $month_select.change(function(){
                  redirect_str = '?event_month=' + $month_select.val();
                   window.location = url + redirect_str;
                })
            });
          })(jQuery)
        </script>
      </div>{# .month-select #}




      <div class="wrapper">
        {% if events %}

            {% for event in events %}
              <a href="{{event.permalink}}" class="event-link">
                <div class="event-listing">
                  <div class='event-date'>{{event.start_date |  date('M')}}<br/>{{event.start_date | date('d')}}</div>
                  <div class='event-name'>{{event.title}}</div>
                  <div class='event-location'><span class="sprite map-marker-blue"></span><span class="txt">{{event.venue}}</span></div>
                  <div class='event-time'><span class="sprite clock-blue"></span><span class="txt">{{event.start_date |  date(' g:i A') }}</span></div>
                </div>
              </a>
            {% endfor %}

        {% else %}

        <div class="event-link">
          <div class="event-listing">
            Sorry, No future events are yet scheduled for {{ months[query_date] }}. Check back soon!
          </div>{# event-listing #}
        </div>{# event-link #}

      {% endif %}
      </div>{# wrapper #}

  </div>
</div>


<div class="past-events">
  <div class="module-header">
    <span class="sprite file-box"></span>Past
  </div>
  <div class="module-body">
      <div class="wrapper">
       
        <div class="grid-6 share-your-pics">
          Have Pictures You Want to Share From an Event?<br/>
          <a href="https://www.facebook.com/ChicagoIMA">Share On Your Facebook!</a>
        </div>

        <div class="grid-6">
          <a href="/gallery">
            <span class="sprite pictures"></span><br/>
            <span>Our Gallery</span>
          </a>
        </div>

      </div>
  </div>
</div>

<div class="get-involved">
  <div class="module-body">
      <div class="wrapper">
         <div class="grid-6">
            Want More Out of Attending Events?<br/>
            <a href="/get-involved">Get Involved!</a>
         </div>
         <div class="grid-6">
            <ul class="icon-list">
              <li class="icon">
                <a href="/account/membership-levels/">
                  <div class="sprite quill"></div>
                  <div class="label"> Join</div>
                </a>
              </li>
              <li class="icon">
                <a href="/sponsors/">
                  <div class="sprite smiley-face"></div>
                  <div class="label"> Sponsor </div>
                </a>
              </li>
              <li class="icon">
                <a href="/speak/">
                  <div class="sprite speech-balloon"></div>
                  <div class="label"> &nbsp;&nbsp;&nbsp;Speak </div>
                </a>
              </li>
              <li class="icon">
                <a href="/volunteer/">
                  <div class="sprite heart"></div>
                  <div class="label"> Volunteer </div>
                </a>
              </li>
            </ul>
         </div>
         {# <div class="grid-2"></div> #}
      </div>
  </div>
</div>


{% endblock %}