{% extends "base.twig" %}

{% block content %}
<div class="splash">
  <div class="wrapper">
      <h1>Chicago Interactive Marketing Association</h1>
      <div class="splash-text">
        {{ post.content }}
        <div class="membership">
            <a href="/account/membership-levels/" class="sign-up">Become A Member</a>
            <div>Already have an account? <a href="#" class="sign-in" data-reveal-id="login-modal" data-animation="fade">Sign In</a> now</div>
        </div>
      </div>
  </div>

</div>


<div class="module-mosaic ">
  <div class="wrapper">
    <div class="grid-8">
        <div class="grid-6">{% include 'modules/module-get_involved.twig' %}</div>
        <div class="grid-2 last">{% include 'modules/module-featured_job.twig' %}</div>
        <div class="grid-5">
          <div class="grid-5">{% include 'modules/module-recent_jobs.twig' %}</div>
          <div class="grid-2">{% include 'modules/module-member.twig' %}</div>
          <div class="grid-3 last">{% include 'modules/module-member_directory.twig' %}</div>
        </div>
        <div class="grid-3 last">{% include 'modules/module-recent_blog.twig' %}</div>
    </div>

    <div class="grid-4">
      <div class="grid-4 last">{% include 'modules/module-upcoming_event.twig' %}</div>
      <div class="grid-2">{% include 'modules/module-board_members.twig' %}</div>
      <div class="grid-2">
        <div class="grid-2 last">{% include 'modules/module-our_gallery.twig' %}</div>
        <div class="grid-2 last">{% include 'modules/module-sponsor.twig' %}</div>
      </div>
    </div>
  </div><!-- /.wrapper -->
</div><!-- /.module-mosaic -->

<div class="events">
  <div class="wrapper">
      <header class="module-header">Events</header>
      <div class="module-body">

        {% for event in upcoming_events %}
           
            <a href="{{event.permalink}}" class="event-link">
              <div class="event-listing">
                <div class='event-date'>{{event.start_date |  date('M')}}<br/>{{event.start_date | date('d')}}</div>
                <div class='event-name'>{{event.title}}</div>
                <div class='event-location'><span class="sprite map-marker"></span><span class="txt">{{event.venue}}</span></div>
                <div class='event-time'><span class="sprite clock"></span><span class="txt">{{event.start_date |  date('g:i A') }}</span></div>
              </div>
            </a>

        {% endfor %}


      </div>
      <footer class="module-footer">
        <a href="/events">All Events</a>
      </footer>
  </div>
 
</div>
<!-- /.events -->
{# Current User: 
{{ fn('get_membership_expiration')  }} <br>
With ID: 
{{ fn('get_membership_expiration', '3060') }} <br> #}

{% endblock %}


