{% extends "base.twig" %}

{% block content %}

<div class="splash">
    <div class="wrapper">
        <div class="splash-text">

            <div class="">
              <span class="sprite down-book"></span>
              <h1>Knowledge Center</h1>
            </div>

            <h4>Meet The Professor</h4>

            <p>
              We also have our own professor on staff. CIMA’s relationship with
              the academic community extends to our Professor partnership. The 
              CIMA Professor is charged with fostering relationships between the 
              academic community and interactive marketing professionals, sharing ideas,  
              knowledge and research, and enhancing educational outlets for students 
              interested in Interactive Marketing.
            </p>

        </div>{# splash-text #}
    </div>{# wrapper #}
</div>{# splash #}



<div class="knowledge-center-list">
    <div class="wrapper">
    
    {% for post in posts %}
    {# <pre>{{ post | print_r }}</pre> #}
        <div class="kc-post">
            {# <a href="#"> #}
                <div class="kc-post-date">
                  {{ post.post_date  | date('M') }} <br/>
                  {{ post.post_date  | date('d') }}
                </div> 
                <div class="kc-post-title">
                  {{ post.title }}
                </div> 
                <div class="kc-post-category">
                  {% for term in post.terms('type') %}
                      {{ term.name }}
                  {% endfor %}
                </div> 
                <section class="content">
                    <div class="inner-wrapper">
                      {{ post.content }}
                    </div>
                </section>
            {# </a> #}
        </div>
    {% endfor %}   
    
    </div>{# wrapper #}
{% include '_pagination.twig' %}
</div>{# knowledge-center-list #}


<div class="certificate-module">
  <header class="module-header">
    <span class="sprite circle-check"></span>
    Certificate
  </header>
  <div class="module-body">
      <div class="wrapper">
        <div class="grid-6">
          <h4>Partnership</h4>

          CIMA and DePaul have partnered to launch the market’s first certificate in 
          Interactive Marketing. The six week course taught by industry experts 
          covers key areas including Display, Social Media, Search, Mobile and Web Analytics.
        </div>
        <div class="grid-6">
          For more information or to register for an upcoming session, <a href="http://cpe.depaul.edu/cima" target="_blank" >click here.</a>
        </div> 
      </div>{# wrapper #}
  </div>
</div> 

{% endblock %}