{% extends "base.twig" %}

{% block content %}
{# {{ fn('dd', jobs, false )}} #}

{# Type: {{ current_job_type }}
Field:{{ current_job_category }}
Location:{{ current_job_city }} #}


<div class="splash">
  <div class="wrapper">
      <form action="" method="GET">
        <h1>What Kind of Job Are You Looking For?</h1>
        <div class="search-params">

          <span class="criteria">
              I'm Looking for 
              <select name="job_type">
                <option value="any">Any</option>
                {% for job_type in job_types %}
                  <option value="{{ job_type }}" {% if job_type == current_job_type %}selected{% endif %}>{{ job_type }}</option>
                {% endfor %}
              </select>
              job,&nbsp; 
          </span><span class="criteria">
            in
            <select name="job_category">
              <option value="any">Any Field</option>
              {% for job_field in job_category %}
                  <option value="{{ job_field }}" {% if job_field == current_job_category %}selected{% endif %}>{{ job_field }}</option>
              {% endfor %}
              
            </select>,&nbsp; 
          </span><span class="criteria">
            located  
            <select name="job_city">
              <option value="any">Anywhere</option>
              {% for job_location in job_locations %}
                  <option value="{{ job_location }}" {% if job_location == current_job_city %}selected{% endif %}>{{ job_location }}</option>
              {% endfor %}
              
            </select>
          </span>
    
        </div>
            <div class="btn-wrapper">
              <input type="submit" value="Search">
            </div>
            
      </form> 
  </div>
</div>
<section class="job-listings-module">
    <div class="module-header">
      <span class="sprite list-items"></span>{{ section_title }}
    </div>
    <div class="module-body" >
    {% for post in posts %}
        {{ post.get_field('job_title') }} <br>
    {% endfor %}

      <div id="job-listings" class="wrapper">
 
          {% for job in jobs %}
            {% set posted_on = job.post_date | date('U') %}
              <div class="job-listing">
                <a href="{{ job.permalink }}">
                  <div class="job-date">
                      <div>{{ job.post_date | date('M') }}</div>
                      <div>{{ job.post_date | date('d')  }}</div>
                  </div>
                  <div class='job-title'>
                    <div class="info"> {{ job.job_title }} <span class="hide"> - </span> </div> 
                    <div class="info">{{ job.city }}, {{ job.state }} <span class="hide"> - </span> </div>
                    <div class="info"> {{ job.job_type }} <span class="hide"> - </span> </div> 
                    <div class="info">{{ job.company }}</div>
                  </div>
                  {% if posted_on > one_week_ago   %}
                    <span class="job-new">NEW</span>
                  {% endif %}
                </a>
              </div>
          {% endfor %}

          {% include '_pagination.twig' %}


      </div>
    </div>
  <div class="module-footer">
    <div class="wrapper">
      <div class="grid-6">
        {{ footer_content_left }}
      </div>
      <div class="grid-6">
        {% if current_user.ID %}
          {{ footer_content_right_signed_in }}
        {% else %}
          {{ footer_content_right }}
        {% endif %}
        
        
      </div>
    </div>
  </div>
</section>
<script>
  (function($){
    $(function(){
      var posts_per_page = '{{ posts_per_page }}',
          listings = $('.job-listing'),
          pagination_next = $('.pagination .next');
      if (listings.length < posts_per_page) pagination_next.hide();
    });
    
  })(jQuery)

</script>

{% endblock %}