{% extends "base.twig" %}

{% block content %}

  <div class="wrapper">
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <h1 class="article-h1">{{post.post_title}}</h1>
        
        <div class="article-body">
          {{post.get_content}}
        </div>
      </section>

    </article>
  </div> <!-- /.wrapper -->

{% endblock %}