{% extends "base.twig" %}

{% block content %}

  <div class="splash {% if is_member_detail %}is_member_detail{% endif %}">
      <div class="wrapper ">
        {% if is_member_detail %}
          <div class="grid-2">
             <div class="headshot">
              <img src="{{ member_details.headshot ? member_details.headshot | resize(160, 160) : '/wp-content/uploads/2014/02/default_avatar-r-165x165.jpg'  }}" alt="{{ member_details.display_name }}">
            </div>
          </div>
          <div class="grid-8">
            <div class="detail">{{ member_details.display_name }} 
                 <span class="registered">{{ member_details.registered }}</span>
            </div>
            <div class="detail">{{ member_details.job_title }}</div>
            <div class="detail">{{ member_details.company }}</div>
            <div class="detail">{{ member_details.membership_level }}</div>
            
            <div class="detail member-social">
               <a href="mailto:{{ member_details.email }}"><span class="sprite envelope"></span></a>
            {% if member_details.twitter_name %}
                <a href="https://twitter.com/{{ member_details.twitter_name }}" target="_blank"><span class="sprite twitter"></span></a>
            {% endif %}
            {% if member_details.linkedin_profile != '' %}
                <a href="{{ member_details.linkedin_profile }}" target="_blank"><span class="sprite linkedin"></span></a>
            {% endif %}
            </div>{# social #}
           
          </div>
          <div class="grid-2">
            <a href="/member-directory" class="go-back">&laquo; Back</a>
          </div>
            
        {% else %}

          <span class="sprite white-quill"></span>
          <h1>Our Member Directory</h1>
          
          <p class="splash-text">
            {{ post.content }}
          </p>

        {% endif %} 
      </div> {#wrapper#}
  </div><!-- /.splash -->
  <section class="member-directory-module {% if is_member_detail %} is_member_detail {% endif %}">
      <div class="module-header">

        {% if is_member_detail %}
           <span class="sprite list-items"></span>Member Bio
        {% else %}
            <span class="sprite person"></span>Our Members
        {% endif %} 

        
      </div>

      <div class="module-body">
        <div class="wrapper">
        {% if is_member_detail %}
            
            <p class="prose">{{ member_details.bio | wpautop  }}</p> 
            
        {% else %}
          
              <img src="{{asset_path}}/img/gif-load.gif" id="loader"/>
              <div id="member-container">
                 
              </div>
              <div class="pagination">
                <a href="#" class="prevPage"></a>
                <a href="#" class="nextPage"></a>
              </div>
              
         
          <script id="memberTmpl" type="text/template">
                <div class="member" id="member">
                  <a href="/member-directory/?member=<%= ID %>">
                    <div class="headshot">
                      <img src="<%= headshot %>" alt="">
                    </div>
                    <div class="name"><%= display_name %></div><span class="divider">&nbsp;-&nbsp;</span> 
                    <div class="company"><%= company %></div><span class="divider">&nbsp;-&nbsp;</span> 
                    <div class="membership"><%= membership_level %></div> 
                    <div class="registered"><%= registered %></div> 
                  </a>
                </div>
          </script>
          
        {% endif %} 
        </div>{# wrapper#}
      </div>


    <div class="module-footer">
      <div class="wrapper">
        <div class="grid-6">
          Membership Badges<br/>

          <p>
            Download a membership badge for your site and link back to 
            http://www.chicagoima.org. Click the badge you wish to download 
            and save it from the window that opens.
          </p>

        </div>
        <div class="grid-6">
          <span class="sprite link"></span>&nbsp;&nbsp;http://www.chicagoima.org<br/><br/>
          <img src="{{ asset_path }}/img/member-agency.jpg" alt="">
          <img src="{{ asset_path }}/img/member-non-agency.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <script>
  var is_member_detail = {{ is_member_detail ? 'true' : 'false' }};
  // console.log('is_member_detail?');
  // console.log(is_member_detail);
  </script>

{% endblock %}