{% extends "base.twig" %}

{% block content %}
  <div class="splash">
      <div class="wrapper">
        <span class="sprite white-quill"></span>
        <h1>Become A Member</h1>
        {# {{ post.content }} #}
        <p class="splash-text">
          <strong>A CIMA Membership is the best professional investment you'll ever make as a member of the Chicago digital community.</strong>
        </p>

        <p class="splash-text">
            CIMA remains one of the veteran interactive associations in the 
            country with critical emphasis on thought-leadership and cross-media 
            outreach through forums, panels, and educational seminars with experts 
            from our windy city and beyond.
        </p>
        
        <a href="/member-directory">Our Directory</a>

      </div> 
  </div><!-- /.splash -->

<section class="module-membership-levels">
    <header class="module-header">
        <span class="sprite person"></span>
       INDIVIDUAL 1-YEAR MEMBERSHIP OPTIONS
    </header>
    <div class="wrapper">
        <div class="module-body">
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Publisher / Vendor</td>
                        <td>Agency / Corporate </td>
                        <td>Student or Educator</td>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td width="25%" class="label">Network w/ Industry Leaders</td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                    </tr>


                    <tr>
                        <td class="label" width="25%">Post Unlimited Jobs</td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                    </tr>

                    <tr>
                        <td width="25%" class="label">Discounted CIMA Events </td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                    </tr>

                    <tr>
                        <td width="25%" class="label">CIMA Newsletter</td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                    </tr>

                    <tr>
                        <td width="25%" class="label">Members-only Web Content</td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                    </tr>

                   
                    <tr>
                        <td width="25%" class="label">Enhance Your Resume</td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                        <td width="25%"><span class="sprite green-check"></span></td>
                    </tr>

                    <tr class="last">
                        <td width="25%"></td>
                        <td width="25%">
                            <a href="/account/membership-checkout/?level=5" class="btn">Join</a>
                            1st Year - $175<br/>
                            Renew for only $140/yr
                        </td>
                        <td width="25%">
                            <a href="/account/membership-checkout/?level=1" class="btn">Join</a>
                            $100/yr
                        </td>
                        <td width="25%">
                            <a href="/account/membership-checkout/?level=2" class="btn">Join</a>
                            $50/yr
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div> <!-- ./ module-body-->
    <footer class="module-footer">
        <div class="wrapper season-pass">
            <div class="grid-5">
                
                <h5>Agency Season Pass Program</h5>
                <ul class="description-list">
                    <li class="red">The best $2500 you'll ever spend. Benefits Include:</li>
                    <li>Agency-wide Membership</li>
                    <li>5 tickets to each CIMA event - Education events - Social Events</li>
                    <li>Seat on the Agency Relation Committee</li>
                    <li>Unlimited Job Postings</li>
                    <li>Member Communications - Newsletters - Email</li>
                    <li>Outlet for Agency thought leadership</li>
                    <li>Access to FREE networking social events</li>
                </ul>
                    <br>
                    If you have any questions about an Agency Season Pass, please contact <a class="red" href="mailto:membership@chicagoima.org">membership@chicagoima.org</a>
            </div>
            <div class="grid-3">&nbsp;</div>
            <div class="grid-4">
                <div class="season-pass-box">
                    <h4 class="blue">Agency Season Pass Value Breakdown = $4,650</h4>
                    <ul>
                        <li>3 educational luncheons = $900</li>
                        <li>4 social events = $2,500</li>
                        <li>CIMA Award Ceremony/ Cocktail = $625</li>
                        <li>Holiday Party = $625</li>
                    </ul>
                    <a href="/account/membrship-checkout/?level=4" class="box-btn">Join</a>
                    <div class="center">$2,500/yr</div>
                </div>
            </div>
        </div>
    </footer>  
</section>

<section class="module-support">
    <header class="module-header">
        <span class="sprite ribbon"></span>
        With Your Support
    </header>
    <div class="module-body">
        <div class="wrapper">
            <div class="grid-4 prose">
                <h5>We Support Our Community</h5>
                <p>Your membership not only benefits you, but it supports our
                organization and allows us to continue as both a thought leader, 
                and a driver of progress and innovation in the community.</p>
            </div>  
            <div class="grid-2">&nbsp;</div>
            <div class="grid-6 prose">
                <span class="sprite thank-you"></span>
                <p>Get a better idea of the programs your membership supports
                in the <a href="/get-involved">Philanthropy</a>, <a href="#">Education</a> and <a href="/events">Events</a> sections of the site.</p>
            </div>
            
        </div>
    </div>
</section>

<script>
  (function($){ 

    /**
    *    Dirty Hack to fix Custom Post Type / Current menu-item issues
    */
    if ( $('body').hasClass('page-membership-levels') ) {
       $('.current_page_parent').removeClass('current_page_parent');
       $('.menu-item-23').addClass('current-menu-item');
    }

  })(jQuery);
</script>

{% endblock %}