{% extends "base.twig" %}

{% block content %}

  <div class="splash">
      <div class="wrapper">
        <div class="sprite target"></div>
        <h1>Our Mission</h1>

          <p>
            <strong>
              {{ post.get_field('our_mission_lead') }}
            </strong>
          </p>

          <p>
            {{ post.get_field('our_mission_body') }}
          </p>

          <a href="/get-involved/" class="get-involved-btn">Get Involved</a>
      </div> 
  </div><!-- /.splash -->

  <div class="block-wrapper">

    <div class="our-culture">
      <h1>Our Culture</h1>
      <p><strong>{{ post.get_field('our_culture_lead') }}</strong></p>
      <p>
        {{ post.get_field('our_culture_body') }}
      </p>
      <a href="/account/membership-levels/">Learn About Becoming A Member</a>
    </div>

    <div class="our-sponsors">
      <h1>Our Sponsors</h1>
      <p><strong>{{ post.get_field('our_sponsors_lead') }}</strong></p>
      <p>
       {{ post.get_field('our_sponsors_body') }}
      </p>
      <a href="/sponsor/">Learn About Becoming A Sponsor</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/sponsors/">See Our Sponsors</a>
    </div>
  </div><!-- block wrapper-->

  <div class="our-volunteers">
      <h1>Our Volunteers</h1>
      <p><strong>{{ post.get_field('our_volunteers_lead') }}</strong></p>
      <p>{{ post.get_field('our_volunteers_body') }}</p>
      <a href="/volunteer/">Become A Volunteer</a>
  </div>

  <div class="our-board" id="our-board">
    <div class="module-header">
      <span class="sprite person"></span> Our Board
    </div>
    <div class="module-body">
      <div class="wrapper">
        <div class="our-board-text">
          <p class="leader">
            <strong>
              {{ post.get_field('our_board_lead') }}
            </strong>
          </p>

          <p>
            {{ post.get_field('our_board_body') }}
          </p>
        </div>
      </div><!-- .wrapper-->
        <div class="board-members">
          <div class="board-members-row wrapper">
            {% for board_member in board_members %}
              <div class="board-member" data-tmpl-id="board_member-tmpl-{{board_member.ID}}">
                <div class="board_member-headshot">
                  <img src="{{ TimberImage(board_member._thumbnail_id) | resize(165, 165) }}" alt="{{ board_member.title }} | {{ board_member.job_title }}">
                </div>
                <div class="board_member-name">{{ board_member.title }}</div>
                <div class="board_member-profession">{{ board_member.position }}</div>
                <script type="text/tmpl" id="board_member-tmpl-{{board_member.ID}}">
                    <div class="board_member-tmpl-head">
                      {% if board_member.company %}<div class="board_member-company">Company: {{ board_member.company }}</div>{% endif %}
                      {% if board_member.job_title %}<div class="board_member-title">Position: {{ board_member.job_title }}</div>{% endif %}
                    </div>
                    {{ board_member.content }}
                    <div class="board_member-contact">
                      {% if board_member.email %}<a href="mailto:{{board_member.email}}" ><span class="sprite envelope"></span></a>{% endif %}
                      {% if board_member.twitter_handle %}<a href="http://twitter.com/{{board_member.twitter_handle}}" target="_blank"><span class="sprite twitter"></span></a>{% endif %}
                      {% if board_member.linkedin_url %}<a href="{{ function('normalize_emails_and_urls', board_member.linkedin_url ) }}" target="_blank"><span class="sprite linkedin"></span></a>{% endif %}
                    </div>
                </script>
              </div><!-- / .board-member -->

              {% if loop.index is divisibleby(4) %} 
              </div><!-- /.speaker-row -->
              
              <div class="outlet">
                <div class="wrapper">
                </div>
              </div>
               
              <div class="board-member-row wrapper">
            {% endif %}
            {% endfor %}
          </div><!-- .board-members-row -->

          <div class="outlet">
            <div class="wrapper">
            </div>
          </div>
        </div> <!-- .board-members -->
      
     
    </div>
    <div class="module-footer">
      <a href="/join-the-board"><span class="sprite small-pencil"></span><span class="link-text">Interested In Being A Board Member? Apply Here!</span></a>
    </div>
  </div>


{% endblock %}