{% extends "base.twig" %}

{% block content %}

  <div class="splash">
      <div class="wrapper">
        
        <h1>We Give Back</h1>

          <div class="splash-copy">{{ post.content }}</div>

          <a href="/events/" class="event-btn">Attend An Event</a>
      </div> 
  </div><!-- /.splash -->

  <div class="great-efforts">
    <div class="module-header">
        <h1>Get Involved &amp; Help take part in some of these great efforts!</h1>
        <ul class="icon-list">
          <li class="icon">
            <a href="/account/membership-levels/">
              <div class="sprite quill"></div>
              <div class="label"> Join&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </a>
          </li>
          <li class="icon">
            <a href="/sponsors/">
              <div class="sprite smiley-face"></div>
              <div class="label"> Sponsor </div>
            </a>
          </li>
          <li class="icon">
            <a href="/speak/">
              <div class="sprite speech-balloon"></div>
              <div class="label"> Speak </div>
            </a>
          </li>
          <li class="icon">
            <a href="/volunteer/">
              <div class="sprite heart"></div>
              <div class="label"> Volunteer </div>
            </a>
          </li>
        </ul>
    </div>
    <div class="module-body">
      <div class="wrapper">
        <div class="effort-row">
          {% for item in great_efforts %}
            <div class="great-effort grid-4 {% if loop.index is divisibleby(3) %} last {% endif %}">
              
              <div class="thumbnail"><img src="{{ TimberImage(item._thumbnail_id)  }}" alt="{{ item.title }}"></div>
              <div class="content">
                <h3>{{ item.title }}</h3>
                {{ item.content }}
              </div>
            </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}