{% extends "base.twig" %}

{% block content %}

  <div class="splash">
      <div class="wrapper">
        
        <h1>Sponsor</h1>
        {{ post.content }}

        <a href="/sponsors/" class="link">See Our Sponsors</a>

        <p>Email us at <a href="mailto:sponsorship@chicagoima.org">sponsorship@chicagoima.org</a> to start the conversation.</p>
      </div> 
  </div><!-- /.splash -->
  <div class="body">
      <div class="wrapper overlap">
       {#  <form action="" class="cima-form" data-name="sponsor" parsley-validate>
        
          <label for="first_name">First Name</label>
          <input type="text" name="first_name" id="first_name" parsley-required="true">

          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" id="last_name" parsley-required="true">

          <label for="company">Company</label>
          <input type="text" name="company" id="company">

          <label for="title">Title</label>
          <input type="text" name="title" id="title">

          <label for="email">Email</label>
          <input type="text" name="email" id="email" parsley-type="email" parsley-required="true">

          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone" parsley-type="phone">

          <label for="help-area">What area of CIMA would you like to help in?</label>
          <textarea name="help-area" id="help-area" parsley-required="true"></textarea>

          <div>
            <label for="is_cima_member" class="inline">Are you a CIMA Member?
              <input type="radio" name="is_cima_member" id="is_cima_member" value="no">No
              <input type="radio" name="is_cima_member" id="is_cima_member" value="yes">Yes
            </label>
          </div>

          <div>
            <label for="newsletter" class="inline">Sign Up for Newsletter?
              <input type="checkbox" id="newsletter" name="newsletter" value="true">Sign Me Up!
            </label>
          </div>

          <input type="submit" value="Submit">
        </form> #}

        <div class='cima-form'>
          {{ post.get_field('contact_form') }}
        </div>
        
      </div>
  </div>
 


{% endblock %}