{% extends "base.twig" %}

{% block content %}



        <script>
            window.is_album = {{ is_album ? 'true': 'false' }};
        </script>
    {% if is_album %}
          {# Album detail view #}
          
          <div class="album-header splash">
            <div class="wrapper"></div>
          </div>

          <div class="gallery-module">
            <header class="module-header">
              <span class="sprite small-picture"></span>Photos
            </header>

              {# <div class="wrapper">
                <a id="back-link" href="/gallery">&laquo; Back</a>
              </div> #}
              
              <div class="module-body album-images">
                <div class="wrapper"></div>
              </div>

            <footer class="module-footer">
              <div class="wrapper">
                <div class="grid-5">
                  Have Pictures You Want to Share From an Event?<br/>
                  <a href="https://www.facebook.com/ChicagoIMA">Share On Your Facebook!</a>
                </div>
                <div class="grid-7">
                  <span class="sprite share-album"></span>
                </div>
              </div>
            </footer>
          </div>
          

        <script>
            window.album = {{ album }};
        </script>

        <script id="image-tmpl" type="text/template">
          <div class="frame">
            <a href="<%= url %>" data-lightbox="image-1" class="image" style="background: url('<%= url %>') center no-repeat"></a>
          </div>
        </script>

        <script id="header-tmpl" type="text/template">
              <h1><%= name %></h1>
              <h3><%= location %></h3>
        </script>

        

    {% else %}

        {#  List all Albums  #}

        <div class="albums-header splash">
          <div class="wrapper">
            <h1>Our Gallery</h1>
            <p>
              Here's your chance to browse photos from our various events. You'll 
              see photos dinners, educational and social events. Whether you 
              are new, and just browsing, or a veteran member looking for your 
              own photo, you've come to the right place.
            </p>
          </div>
        </div>
        <div class="gallery-module">
            <header class="module-header">
              <span class="sprite small-picture"></span>Albums
            </header>
            <div class="module-body albums-images ">
              <div class="wrapper"></div>
            </div>
            <footer class="module-footer">
              <div class="wrapper">
                <div class="grid-5">
                  Have Pictures You Want to Share From an Event?<br/>
                  <a href="https://www.facebook.com/ChicagoIMA">Share On Your Facebook!</a>
                </div>
                <div class="grid-7">
                  <span class="sprite share-album"></span>
                </div>
              </div>
            </footer>
        </div>
        
        <script>
            window.albums = {{ albums }};
        </script>

        <script id="album-tmpl" type="text/template">
          <div class="frame">
            <a href="/gallery/?fb_album=<%= id %>" style="background: url(<%= cover_photo %>) center no-repeat">
              <div class="album-name"><%= name %></div>
            </a>
          </div>
        </script>
    {% endif %}
      
{#      
    </div>

  </section> #}
  

{% endblock %}