{% extends "base.twig" %}

{% block content %}

  <div class="splash">
    <div class="wrapper">
      <h1>{{ post.post_title }}</h1>
    </div> 
  </div><!-- /.splash -->
  
  <div class="body">
    <div class="wrapper overlap">
      {{ post.content }}
    </div>
  </div>


{% endblock %}