{% extends "base.twig" %}

{% block content %}

  <div class="splash">
      <div class="wrapper">
        
        <h1>Board Member Application</h1>
  
        {{ post.get_field('splash_text') }}
      
      </div> 
  </div><!-- /.splash -->
  <div class="body">
      <div class="wrapper overlap">
        {# <form action="" class="cima-form" data-name="board" parsley-validate>
        
          <label for="first_name">First Name</label>
          <input type="text" name="first_name" id="first_name" parsley-required="true">

          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" id="last_name" parsley-required="true">

          <label for="company">Company</label>
          <input type="text" name="company" id="company">

          <label for="title">Title</label>
          <input type="text" name="title" id="title">

          <label for="email">Email</label>
          <input type="text" name="email" id="email" parsley-type="email" parsley-required="true">

          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone" parsley-type="phone">

          <input type="submit" value="Submit">
        </form> #}

        <div class='cima-form'>
          {{ post.get_field('contact_form') }}
        </div>
      </div>
  </div>

  <div class="qualifications-module">
      <header class="module-header">
        <span class="sprite list-items"></span>
        Qualifications
      </header>

      <div class="module-body">
        <div class="wrapper">
          {{ post.get_field('qualifications') }}
        </div>
      </div>
      
  </div>
 


{% endblock %}