{% extends "base.twig" %}

{% block content %}

  <div class="splash">
      <div class="wrapper">
        
        <h1>Our Dedicated Supporters</h1>
        <div class="splash-text">
            <h2>Thank You So Much For You Support!</h2>
            {{ post.content }}
        </div>
        
       
      </div> 
  </div><!-- /.splash -->

{% if sponsors %}
    <section class="sponsors">
      <header class="module-header">
        <span class="sprite flag"></span>Sponsors
      </header>
      <div class="module-body">
          <div class="wrapper">
              <div class="sponsor-row">
              {% for sponsor in sponsors %}
                  <div class="sponsor-item">
                      {# Only wrap image with link is website is provided #}
                      {% if sponsor.website %} <a href="{{ sponsor.website }}" target="_blank"> {% endif %}
                        <img class="sponsor-image" src="{{ TimberImage(sponsor.sponsor_logo) }}"/>
                      {% if sponsor.website %} </a> {% endif %} {# end sponsor.website #}
                  </div>{# end of sponsor-item #}
               {% if loop.index is divisibleby(4) %} 
               </div><!-- end of sponsor-row -->  
               <div class="sponsor-row">
               {% endif %}
               
              {% endfor %} 
              </div><!-- end of sponsor-row -->
          </div>
      </div>
    </section>
{% endif %}{# End if Sponsors #}



{% endblock %}