{% extends "base.twig" %}

{% block content %}

{% set option_splash_image = post.get_field('banner_image_option') %}

{% if option_splash_image == 'use_featured_image' %}

    {% set splash_image = post.thumbnail %}

{% elseif option_splash_image == 'use_uploaded_image' and post.get_field('banner_image') %}
    
    {% set splash_image = post.get_field('banner_image') %} 

{% elseif option_splash_image == 'use_default_image' %}

   {% set splash_image = asset_path ~ '/img/post-header-placeholder.gif' %}

{% endif %}


  <div class="splash" style="background-image: url({{ splash_image }});">
  {# style="height: 315px; width: 100%; background: url({{ post.thumbnail.src | letterbox(1440, 315, '#fa4649') }}) no-repeat;" #}
       <div class="wrapper" ></div> 
  </div><!-- /.splash -->

  <div class="wrapper overlap">
    <div class="grid-9"> 
      <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
        <section class="article-content">

          <header class="module-header">
            <h1 class="article-h1">{{post.post_title}}</h1>
            <div class="post-meta">
              <div class="post-byline">
                Posted by <span class="post-author"><a href="/member-directory/?member={{ post.author.ID }}">{{ post.author.name }}</a></span> on <span class="post-published">{{ post.display_date }}</span>
              </div>
              <div class="post-social">
                <span class="sprite small-sharrow" style="display: inline-block; margin-left:2em;"></span>  
                <div class="fb-share-button" data-href="{{ post.permalink }}" data-width="112" data-type="button_count"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"></a>
              </div>
             
            </div>

          </header>
       
          <div class="article-body module-body">
            {{post.get_content}}
          </div>
        </section>

      </article>

      <div class="pagination">
        
            
              <a href="{{ pagination.all }}" class="prev">
                <span class="sprite left-arrow-pink"></span>
                All
              </a>

              
              <a href="{{ pagination.next }}" class="next">
                Next
                <span class="sprite right-arrow-pink"></span>
              </a>
              
            
        
      </div>

    </div>

    <div class="grid-3">
      <aside class="author-module">
          <header class="module-header">
            The Author
          </header>

          <div class="module-body">
            <div class="author-pic">
              <div class="author-pic-inner">
                {{ author_meta.headshot }}
              </div>
            </div>

           
            <div class="author-name">{{ author_meta.name }}</div>
            <div class="author-title">{{ author_meta.job_title }}</div>
            <div class="author-bio">{{ author_meta.bio | excerpt(50) }}</div>
          </div>

          <footer class="module-footer">
            <a href="/member-directory/?member={{ author_meta.ID }}" class="uline">Read Full Bio</a>
          </footer>

      </aside>
    </div>
    

  </div> <!-- /.wrapper -->

  <script>
  (function($){ 

    /**
    *    Dirty Hack to fix Custom Post Type / Current menu-item issues
    */
    if ( $('body').hasClass('single-post') ) {
       $('.current_page_parent').removeClass('current_page_parent');
       $('.menu-item-20').addClass('current-menu-item');
    }

  })(jQuery);
</script>

{% endblock %}