{% extends "base.twig" %}

{% block content %}

{# <pre>
{{ job | print_r}}
</pre> #}

<div class="splash">
  <div class="wrapper">
         <div class="job-date">
            <div>{{ job.post_date | date('M') }}</div>
            <div>{{ job.post_date | date('d')  }}</div>
            {% set posted_on = job.post_date | date('U')%}
        </div>
        <div class="splash-text">
            <div class="job-title">{{ job.job_title }}
              {% if posted_on > one_week_ago   %}
                <span class="job-new">NEW</span>
              {% endif %}
            </div>
            <div class="job-location">{{ job.city }}, {{ job.state }}</div>
            <div class="job-type">{{ job.job_type }}</div>
            <div class="job-company">{{ job.company }}</div>
            <div class="job-link"><a href="{{ function('normalize_emails_and_urls', job.link_to_application  )  }}" target="_blank">Apply</a></div>
        </div>
        <div class="back-to-search"><a href="#" id="back-link">Back</a></div>
  </div>
</div>
<section class="job-detail">
  <div class="module-header">
    <span class="sprite list-items"></span>Job Description
  </div>
  <div class="module-body">
    <div class="wrapper">
      {% if job.description  %}
        <p>{{ job.description | wpautop }}</p>
      {% endif %}
    

      {% if job.responsibilities %}
        <p>
          <strong>Responsibilities: </br></strong>
          {{ job.responsibilities | wpautop }}
        </p>
      {% endif %}
    

      {% if job.qualifications %}
        <p>
          <strong>Qualifications: <br/></strong>
          {{ job.qualifications | wpautop }}
        </p>
      {% endif %}
   

      {% if job.minimum_education %}
        <p>
          <strong>Minimum Education:</strong>
          {{ job.minimum_education }}
        </p>
      {% endif %}

      {% if job.career_level %}
        <p>
          <strong>Career Level:</strong>
          {{ job.career_level }}
        </p>
      {% endif %}
    </div><!-- .wrapper -->

  </div>
  <div class="module-footer">
    <div class="share-btns">
      <span class="sprite small-sharrow"></span>
      <span class="share-mouseover">SHARE</span>
      <span class="job-share">
        <span class="fb-share-button" data-href="{{ function('get_permalink', 'job.id' ) }}" data-type="button_count"></span>
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
      </span>
    </div>
    <div class="apply-btns">
      {# <a href="{{ job.link_to_application }}" target="_blank" class="apply">Apply to Job</a><br/> #}
      <a href="{{ function('normalize_emails_and_urls', job.link_to_application ) }}" target="_blank" class="apply">Apply to Job</a><br/>
      <div class="sign-in-or-up">
        <a href="#" data-reveal-id="login-modal" data-animation="fade">Sign In</a> or <a href="/account/membership-levels/">Sign Up</a> to post a job.
      </div>
    </div>
  </div>
</section>
<script>
  (function($){ 

    /**
    *    Dirty Hack to fix Custom Post Type / Current menu-item issues
    */
    if ( $('body').hasClass('single-job_posting') ) {
       $('.current_page_parent').removeClass('current_page_parent');
       $('.menu-item-788').addClass('current-menu-item');
    }

  })(jQuery);
</script>




{% endblock %}