{% extends "base.twig" %}

{% block content %}


{# {{ fn('dd', event) }} #}
{% set option_splash_image = event.get_field('banner_image_option') %}


{% if option_splash_image == 'use_featured_image' %}

      {% set splash_image = event.thumbnail %}

{% elseif option_splash_image == 'use_uploaded_image' and event.get_field('banner_image') %}
    
    {% set splash_image = event.get_field('banner_image') %} 

{% elseif option_splash_image == 'use_default_image' %}

   {% set splash_image = asset_path ~ '/img/event-splash.jpg' %}

{% endif %}


<div class="splash" style="background-image: url({{ splash_image }});">
  <div class="wrapper">

        <div class="splash-text">
            <div class="featured-event-title">{{ event.title }}</div>
            <div class="featured-event-date-location">{{ event.start_date | date('l, F jS g:i A') }} @ {{ event.venue }}</div>
            <div class="featured-event-teaser">{{ event.content }}</div>
            {% for ticket in event_tickets %}
              {{ticket.name}} - ${{ticket.price}} <br/>
            {% endfor %}
        </div>

        <div><a href="#register" class="details">Register</a></div> 

  </div>

</div>

{% if event.get_field('schedule') %}
<section class="event-schedule">
  <header class="module-header">
    <span class="sprite list-items"></span>Schedule
  </header>
  <div class="module-body">
      <div class="wrapper">

          {% for item in event.get_field('schedule') %}
            <div class="schedule-item">

              <div class="item-time"><span class="sprite clock-blue"></span>{{ item.time | date(' g:i A') }}</div>
              <div class="item-name">{{ item.title }}</div>

              {% if item.content %}
                <div class="item-toggle">
                    <span class="sprite down-arrow-pink rotate1"></span>
                </div>
                <div class="item-content">{{ item.content }}</div>
              {% endif %}

            </div>{# schedule-item #}
          {% endfor %}      

      </div>{# wrapper #}
  </div>{# module-body #}
</section>
{% endif %}{# End if schedule #}

{% if speakers %}
<section class="event-speakers">
  <header class="module-header">
    <span class="sprite speech-bubble"></span>Speakers
  </header>
  <div class="module-body">
      
       
       <div class="speakers">

          <div class="speaker-row wrapper">
          {% for speaker in speakers %}
            <div class="speaker" data-tmpl-id="speaker-tmpl-{{speaker.ID}}">
                <div class="speaker-headshot">
                  <img src="{{ speaker._thumbnail_id ? TimberImage(speaker._thumbnail_id) | resize(165, 165) : '/wp-content/uploads/2014/02/default_avatar-r-165x165.jpg' }}" alt="{{ speaker.title }} | {{ speaker.job_title }}">
                </div>
                <div class="speaker-name">{{ speaker.title }}</div>
                <div class="speaker-profession">{{ speaker.profession }}</div>
                <script type="text/tmpl" id="speaker-tmpl-{{speaker.ID}}">
                    <div class="speaker-tmpl-head">
                      <div class="speaker-company">Company: {{ speaker.company }}</div>
                      <div class="speaker-title">Position: {{ speaker.job_title }}</div>
                    </div>
                    {{ speaker.content }}
                    <div class="speaker-contact">
                      {% if speaker.email %}<a href="mailto:{{speaker.email}}" ><span class="sprite envelope"></span></a>{% endif %}
                      {% if speaker.twitter_handle %}<a href="http://twitter.com/{{speaker.twitter_handle}}" target="_blank"><span class="sprite twitter"></span></a>{% endif %}
                      {% if speaker.linkedin_url %}<a href="{{speaker.linkedin_url}}" target="_blank"><span class="sprite linkedin"></span></a>{% endif %}
                    </div>
                </script>
            </div><!-- / .speaker -->

           {% if loop.index is divisibleby(5) %} 
              </div><!-- /.speaker-row -->
              
              <div class="outlet">
                <div class="wrapper">
                </div>
              </div>
               
              <div class="speaker-row wrapper">
          {% endif %}
             
          {% endfor %}
              
          </div><!-- /.speaker-row -->

          <div class="outlet">
            <div class="wrapper">
            </div>
          </div>

       </div> <!-- / .speakers -->
       
  </div>
</section>
{% endif %}{# end if Speakers #}
{% if sponsors %}
<section class="event-sponsors">
  <header class="module-header">
    <span class="sprite flag"></span>Sponsors
  </header>
  <div class="module-body">
      <div class="wrapper">
          <div class="sponsor-row">
          {% for sponsor in sponsors %}
              <div class="sponsor-item">
                 <div class="sponsor-type">{{ sponsor.sponsor_type }}</div>
                  {# Only wrap image with link is website is provided #}
                  {% if sponsor.website %} <a href="{{ sponsor.website }}" target="_blank"> {% endif %}
                    <img class="sponsor-image" src="{{ TimberImage(sponsor.sponsor_logo) }}"/>
                  {% if sponsor.website %} </a> {% endif %} {# end sponsor.website #}
             </div>{# end of sponsor-item #}
           {% if loop.index is divisibleby(4) %} 
           </div><!-- end of sponsor-row -->  
           <div class="sponsor-row">
           {% endif %}
           
          {% endfor %} 
          </div><!-- end of sponsor-row -->
      </div>
  </div>
</section>
{% endif %}{# End if Sponsors #}


<section class="event-tickets" id="register">
  <div class="module-body wrapper">

        <div class="member-msg">
           {% if current_user and current_user.ID and event_access_code %}
              Members, in order to recieve your discounted member price, please use the following code in the order form below: 
              <strong>{{ event_access_code }}</strong><br>
            {% else %}
               In order to buy Members-only priced tickets, <a href="#" data-reveal-id="login-modal" data-animation="fade">please login.</a>
            {% endif %}
        </div>

        <div class="event-tickets" >
            <iframe src="http://www.eventbrite.com/tickets-external?eid={{event.event_id}}" height="306" width="100%" frameborder="0"></iframe>
        </div>
        <p style="text-align:center;">By registering for this event, you are agreeing to CIMA's <a href="http://www.chicagoima.org/terms-of-service/#eventsterms">terms &amp; conditions</a>.</p>
     
  </div>
</section>

<section class="event-map">
  <header class="module-header">
    <span class="sprite small-sharrow"></span>
    <span class="share-mouseover">SHARE</span>
    <span class="event-share">
      <span class="fb-share-button" data-href="{{ function('get_permalink', 'event.id' ) }}" data-type="button_count"></span>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
    </span>
  </header>
  {% if event_map_src %}
  <div class="module-body" style="">

  
    <iframe src="{{ event_map_src }}" style="width:100%;" height="400" frameborder="0" style="border:0"></iframe>  
 
  
  </div>
  {% endif %}
</section>



<script>
  (function($){ 

    /**
    *    Dirty Hack to fix Custom Post Type / Current menu-item issues
    */
    if ( $('body').hasClass('single-event') ) {
       $('.current_page_parent').removeClass('current_page_parent');
       $('.menu-item-466').addClass('current-menu-item');
    }

  })(jQuery);
</script>
{% endblock %}