.rotate1 {
  @include vendor('transform', rotate(0deg) translate3d( 0, 0, 0));
  @include vendor('transition', .5s);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.rotate2 {
  @include vendor('transform', rotate(-180deg) translate3d( 0, 0, 0));
  @include vendor('transition', .5s);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}




