html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    color: $cima-dark-blue;
    font-weight: 600;
    overflow-y:scroll;
    min-height:100%;
    text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6,hgroup,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,
.media {
    margin-bottom:$base-spacing-unit;
    margin-bottom:($base-spacing-unit / $base-font-size)*1rem;
}


/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr{
    margin-bottom:$base-spacing-unit - 2px;
    margin-bottom:(($base-spacing-unit - 2px) / $base-font-size)*1rem;
}


/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,ol,dd{
    margin-left:2 * $base-spacing-unit;
    margin-left:(2 * $base-spacing-unit / $base-font-size)*1rem;
}

.centered {
  text-align: center;
}



a {
    text-decoration: none;
    color: $cima-blue;
}

.four-oh-four-msg{
    text-align: center;
    font-size: 120px;
    padding: 1.3em;
}