// Configuration
$column-width: 70px;
$gutter-width: 29px;
$columns: 12;
 
// // Column Widths
@mixin grid($i) {
  width: 100%;
  display: inline-block;
  margin-right: $gutter-width;
  float: left;
  &:last-child, &.last { margin-right: 0; }
  @include respond-to($desktop) {
    width: (($column-width * $i) * 0.85) + (($gutter-width * ($i - 1)));
  }
  @include respond-to($large-screen) {
      width: $column-width * $i + $gutter-width * ($i - 1);
  }
}

@mixin grid-plus($i, $plus) {
   width: $column-width * $i + $gutter-width * ($i - 1) + $plus;
}

// // // Page, Row, Column
@mixin grid-page($i: $columns) {
  @include clearfix;
  width: 96%;
  margin: 0 auto;
  @include respond-to($desktop) {
      width: ($column-width * $i + $gutter-width * ($i - 1)) * 0.9;
  }
  @include respond-to($large-screen) {
      width: $column-width * $i + $gutter-width * $i;
  } 
}

@mixin grid-row($page: false) {
  @include clearfix;
  width: auto
}

@for $i from 1 through $columns {
  // .grid-#{$i} { width: 100% }
  .grid-#{$i} { @include grid($i); }
}
 
.wrapper {
  @include grid-page;

  .module-mosaic & {
    padding: 0 1em 0;
    @include respond-to($desktop){ padding: 0; }
  }
}

// (70 * 12) + (20 * 12)

