// Set font-size and vertical rhythm in one-fell-swoop
@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}


@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

@mixin respond-to($query) {
    @media only screen and (#{$query})  {
        @content;
    }
}

@mixin show-on-desktop-only {
  display: none;
  @include respond-to($desktop) {
    display: block;
  }
 
}

@mixin image-replace{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.uline {
  border-bottom: 1px dotted $cima-dark-blue;
}

.mobile-hide {
  display: none;
  @include respond-to($desktop){
    display: inline-block;
  }
}
.mobile-show {
  display: block;
  @include respond-to($desktop){
    display: none;
  }
}

/*
  Micro Clearfix
   @usage: 
      @include clearfix to keep classes semantic 
*/
@mixin clearfix {
    *zoom:1;
    &:before,
    &:after{
        content:"";
        display:table;
        clear:both;
    }
    &:after {
      clear:both;
    }
}




