/*
*   Typekit Font Weights
*
*    100 = thin
*    200 = extra-light
*    300 = light
*    400 = normal, book
*    500 = medium
*    600 = demi-bold
*    700 = bold
*    800 = heavy
*    900 = black
*
*/
$weights: "thin", "extra-light", "light", "normal", "medium", "demi-bold", "bold", "heavy", "black";

@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: unquote(index($weights, $weight) + '00');
  }
}

.weight-book {
  font-weight: 400; // Normal is the same weight as Book.
}