<p>Your membership at !!sitename!! has ended.</p>

<p>Thank you for your support.</p>

<p>View our current membership offerings here: !!levels_link!!</p>

<p>Log in to manage your account here: <a href="http://www.chicagoima.org/account">http://www.chicagoima.org/account</a></p>