<p>Thank you for your involvement with CIMA. As we continue to update and improve on our website, we have implemented some changes to the membership settings that eliminates your need to renew your membership once you have updated your account on the new system. Please renew your account - once you have completed renewal you will be set up on an annual auto-renewal, with an invoice sent automatically for your accounting purposes. You will still be free to cancel at any time, but will no longer have to concern yourself with meeting renewal before your membership expires. </p>

<p>We appreciate your membership and are always looking for ways to improve on your experience with CIMA - if you have any questions/concerns/suggestions, please reach out through our contact forms, or by emailing <a href="mailto:info@chicagoima.org">info@chicagoima.org</a>. </p>

<p>Account: !!display_name!! (!!user_email!!)</p>
<p>Membership Level: !!membership_level_name!!</p>

<p><a href="http://chicagoima.org/account/membership-checkout/?level=3">Renew Membership*</a></p>
s
<p>Log in to your membership account here: !!login_link!!</p>