.mod_board-member {
  @extend %module;
  @include module-shadow;
  @include show-on-desktop-only;
  .module-header {
  }
  .module-body {
    color: $cima-dark-blue;
    box-shadow: inset 0 1px $cima-dark-gray, inset 0 -1px $cima-dark-gray;
    padding: 1em 1em 0.5em 1em;
    text-align: center;
  }
  .bm-title { text-align:  center; }
  .bm-body {
    text-align: left;
    line-height: 1.4;
    margin-bottom: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    .bm-title {
      margin: 0.5em 0 0.5em 0;
      color: $cima-blue;
      font-weight: 700;
      font-size: 16px
    }
    .bm-text {
      font-weight: 300;

    }
  }
  .module-footer {
    a { @extend .uline; }
  }
  @include respond-to($desktop) {
    
    .module-body {
      max-height: 230px;
    }
    .bm-body {
      margin: 0;

    }
    .bm-text {
      height: 115px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}