.mod_featured-job {
  @extend %module;
  @include module-shadow;
  .module-header {
  }
  .module-body {
    color: $cima-dark-blue;
    box-shadow: inset 0 1px $cima-dark-gray, inset 0 -1px $cima-dark-gray;
    padding: 1em 1em 0.5em 1em;
    text-align: center;
  }
  .job {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 1em;
    .job-title {
      text-align: center;
      margin: 0.5em 0 0.5em 0;
      color: $cima-blue;
      font-weight: 700;
      font-size: 16px
    }
    .job-desc {
      font-weight: 300;
    }
  }
  .module-footer {
    a { @extend .uline; }
  }
  @include respond-to($desktop) {
    .module-body { min-height: 230px; }
    .job { margin: 0; text-align: left;}
  }
}