.mod_get-involved {
  @extend %module;
  @include module-shadow;
  .module-header {
    color: $cima-pink;
  }
  .module-body {
    color: #fff;
    background: $cima-blue;
    a {
      color: #fff;
    }
    .copy {
      text-align: center;
      font-size: 12px;
      padding: 0 3em 2em 3em;
    }
    .icon-list { 
      margin: 0; 
      text-align: center;
      padding: 3em 0 0 0;
    }
    .icon {
      list-style-type: none;
      display: inline-block;
      margin-bottom: 2em;
      margin-right: 4em;
      font-size: 16px;
      @extend .weight-heavy;
      &:nth-child(2n) {
        margin: 0;
      } 
      .label {
        margin-top: 1em;
      }
    }
  }
  .module-footer {
    a { @extend .uline; }
  } 
  // includes to cover smaller mobiles in landscape.
  @media only screen and ($mobile) and (orientation : landscape) {
    .module-body {
      .icon {
        &:nth-child(2){
          margin-right: 3em;
        }
      }
    }
  }
  @include respond-to($larger-mobile) {
    .module-body {
      .icon {
        &:nth-child(2){
          margin-right: 4em;
        }
      }
    }
  }
  @include respond-to($desktop) {

  }
}