.mod_member-directory{
  @include show-on-desktop-only;
  @extend %module;

  .module-body { 
    background: 0;
    @extend %module-common;
    @extend %media;
    a {
      color: $cima-pink;
    }
    .md-copy {
      padding-left: 0.5em;
      font-weight: 800;
      font-size: 18px;
    }
  }

}