.mod_member {
  @extend %module;
  @include show-on-desktop-only;
  margin-bottom: 1em;
  %module-common {
    color: #fff;
    background: $cima-dark-blue;
  }
  .module-header {
    @extend %module-common;
    position: relative;
    height: 2.25em;
    .sprite {
      position: absolute;
      top: -1px;
      right: 1em;
    }
  }
  .module-body {
    @include module-shadow;
    @extend %module-common;
    text-align: center;
    padding: 1em;
    h3  {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 0.75em;
    }
    p {
      font-family: $brand-face;
      color: $cima-med-gray;
      line-height: 1.6em;
    }
  }
  .module-footer {
    background: 0;
    text-align: center;
    .sprite {
      margin-right: 0.5em;
      position: relative;
      top: 5px;
    }
    padding: 0.75em 1em;
    font-size: 14px;
    @include respond-to($large-screen) { 
      font-size: 16px;}
  }
}