.mod_our-gallery{
  @extend %module;
  display: none;
  .module-body {
    background: 0; 
    a { text-decoration: underline; }
    .sprite { 
      margin: 0 auto;
      display: block; 
      padding-bottom: 1em; 
    }
    text-align: center;
    padding: 1em;
  }
  @include respond-to($desktop) { display: block; }
}