.mod_recent-jobs {
  @extend %module;
  @include module-shadow;
  .module-header {
    color: $cima-pink;
  }
  .module-body {
    color: $cima-dark-blue;
    box-shadow: inset 0 1px $cima-dark-gray, inset 0 -1px $cima-dark-gray;
    // padding: 1em 1em 0.5em 1em;
    // max-height: 230px;
    a {
      display: block;
      color: $cima-dark-blue;
      &:hover, &:active {
        background: $cima-pink;
        color: #fff;
      }
    }
  }
  .job {
    box-shadow: inset 0 -1px $cima-dark-gray;
    padding: 0.75em;
    overflow: hidden;
    .job--posting-date {
      display:  inline-block;
      width: 25%; 
      float: left;
      font-weight: 800;
      letter-spacing: 1px;
    }
    .job--title-location {
      display:  inline-block;
      width: 70%; 
      float: left;
      font-size: 16px;
      font-weight: 500;
    }
    .job--arrow {
      // width: 15%;
      text-align: right;
      display: none;
      padding-left: 1.5em;
      // .span { float: right; } 
    }
    @include respond-to($desktop) {
      padding: 1.5em 1em 1.5em;
      .job--posting-date { width: 15%; }
      .job--title-location { font-size: 18px; width: 70%; }
      .job--arrow {  display:  inline-block; width: 15%;}
    }
  }
  .module-footer {
    padding: 1em 0 1em 0;
    a { 
      @extend .uline;
     
    }
  }
}