.mod_recent-blog {
  @extend %module;
  @include module-shadow;
  .module-header {
    text-align: left;
    padding: 1.25em;
    // height: 140px;
    .post-title{
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 1px;
      a { color: $cima-blue;}
      // height: 70px;
      // overflow: hidden;
    }
    .post-meta{
      font-size: 10px;
      font-weight: 300;
      font-family: $brand-face;
    }
    .post-author{ 
      @extend .uline; 
      a { color: $cima-dark-blue; }
    }
  }
  .module-body {
    box-shadow: inset 0 -1px $cima-dark-gray;
    .post-thumb{
      img {
        width: 100%;
      }
    }
    .post-excerpt{
      padding: 1.25em;
      line-height: 1.6;
      font-size: 12px;
      font-weight: 300;
      font-family: $brand-face;
    }
  }
  .module-footer {
    a {
      @extend .uline;
    }
  }
}


// Single item in Blog grid.
// Uniform sizing looks better, so we extend to the front page module and add some fixed sizes.
.blog-post {
  @extend .mod_recent-blog;


  @include respond-to($desktop) {
      .module-header {
        height: 140px;
      }
      .module-body {
        padding-bottom: 1em;
      }
      .post-title {
        height: 70px;
        // margin-bottom: 2em;
      }
      .post-excerpt {
        height: 185px;
      }
  }

}