.mod_sponsor {
  @extend %module;
  @include show-on-desktop-only;
  @include module-shadow;
  %module-common {
    color: #fff;
    background: $cima-blue;
  }
  .module-header, .module-footer {
    @extend %module-common;
    height: 1.5em;
  }
  .module-body {
     @extend %module-common;
    
    text-align: center;
    padding: 1em;
     h3  {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 0.75em;
    }
    p {
      font-family: $brand-face;
      color: $cima-med-gray;
      line-height: 1.6em;
    }
  }

}