.mod_upcoming-event{
  @extend %module;
  @include module-shadow;
  .module-header {
    text-align: center;
    .event-date { 
      color: $cima-pink;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .module-body {
    background: $cima-pink;
  }
  .event {
    .event-thumb{
      img {
        width: 100%;
      }
    }
    .event-copy{

      padding: 2em;
      color: #fff;
      h3 {
        font-size: 18px;
        font-weight: 800;
        text-align: center;
      }
      a { color: #fff; }
      .event-thumb{}
      .event-desc {
        line-height: 1.7;
        font-size: 14px;
        font-weight: 300;
        font-family: $brand-face;
      }
    }
  }
  .module-footer {
    a { @extend .uline; }
  }
}