//---------------------------------------------------------------------------//
// $DEBUG-MODE -  visually highlight any potential markup/accessibility quirks
//---------------------------------------------------------------------------//

$debug-mode:                             false;

//---------------------------------------------------------------------//
// $BORDER-BOX - http://www.paulirish.com/2012/box-sizing-border-box-ftw 
//---------------------------------------------------------------------//

$global-border-box:                      true!default;

//---------------------------------------------------------------------//
// $BASE-STYLES
//---------------------------------------------------------------------//

$base-font-size:                         14px!default;
$base-line-height:                       18px!default;
$base-font-family:                       'Proxima Nova', sans-serif!default;
$base-face:                              $base-font-family;
$h1-size:                                36px!default;
$h2-size:                                30px!default;
$h3-size:                                24px!default;
$h4-size:                                20px!default;
$h5-size:                                16px!default;
$h6-size:                                14px!default;

//---------------------------------------------------------------------//
// $BRAND-STYLES
//---------------------------------------------------------------------//

$cima-blue:                              #1cbff7;
$cima-dark-blue:                         #10263a; 
$cima-pink:                              #fa4649;
$cima-green:                             #46a546;

// Grays
$cima-gray:                              #f5f5f5; 
$cima-grey:                              $cima-gray;   
$cima-med-gray:                          #edeeed;    
$cima-med-grey:                          $cima-med-gray;         
$cima-dark-gray:                         #d9d9d9;
$cima-dark-grey:                         $cima-dark-gray;

$brand-face:                             'Open Sans', sans-serif!default;

$base-spacing-unit:                      $base-line-height!default;
$half-spacing-unit:                      $base-spacing-unit / 2!default;
$line-height-ratio:                      $base-line-height / $base-font-size;

//---------------------------------------------------------------------//
// $BREAKPOINTS
//---------------------------------------------------------------------//
$mobile:                                 'max-width: 480px';
$larger-mobile:                          'min-width: 481px';  // Larger mobile 
$tablet:                                 'min-width: 768px';  // Tablet & Smaller Laptops 
$desktop:                                'min-width: 1030px'; // Desktop 
$large-screen:                           'min-width: 1240px'; // Large Screens 