@import 'objects/dashicons';


.menu-icon-board-member {
  @include dashicon('dashicons-businessman');
}
.menu-icon-event {
  @include dashicon('dashicons-calendar');
}
.menu-icon-great-effort {
  @include dashicon('dashicons-star-half');
}
.menu-icon-job_posting {
  @include dashicon('dashicons-pressthis');
}
.menu-icon-kc-post {
  @include dashicon('dashicons-welcome-learn-more');
}


